@charset "utf-8";


html,body,div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, 
pre, form, fieldset, input, textarea, p, blockquote, th, td { 
    padding: 0;
    margin: 0;
}
html,body{ min-height:100%;}
body{ background:#f3f3f3; font-family:Microsoft YaHei; font-size:14px;}
.clear{ clear:both;}
select{ padding:0;}
.float_left{display:block;float:left;}
.float_right{display:block;float:right;}




/*会员管理 start*/
.member_list{ width:100%; margin:0 auto; margin-bottom: 60px;}
.member_list_search{ width:100%;}
.member_list_search_table{ width:100%; margin-top:20px;    font-family: Microsoft YaHei;color: #5a5a5a;}
.member_list_search_table td{  color:#5c5c5c;}
.member_list_search_td{width:32%;height:35px; line-height:35px;}
.member_list_search_td_t{ width:8%; text-align:right; padding-right:10px; font-size:14px; color:#5c5c5c;height:35px; line-height:35px;}
a.member_list_search_td_a{ padding:0 8px;}
a.member_list_search_td_a:hover{ color:#ff0202;}
a.member_list_search_td_a_select{ color:#ff0202; padding:0 8px;}
a.member_list_search_td_btn{ color:#FFF; background:#ff0202; display:inline-block; width:90px; text-align:center; border-radius:5px;    float: right;margin-right: 6px;}
a.member_list_search_td_btn:hover{ background:#e50606;color:#FFF;}
.member_list_search_td select{ height:35px; line-height:35px; width:100%; border:1px solid #dcdcdd; color:#5c5c5c; text-align:center; vertical-align:middle; padding:0; }
.member_list_search_td input[type=text]{ height:35px; line-height:35px; width:42%; border:1px solid #dcdcdd; color:#5c5c5c; text-align:left; padding:0 5px;}
.member_list_search_td select{ height:37px; line-height:37px; width:39%; border:1px solid #dcdcdd; color:#5c5c5c; text-align:left;padding:0 5px;}
.member_list_search_td_line{ display:inline-block; width:8%; text-align:center;}
.member_list_search_td select option{color:#5c5c5c; text-align:center;}
.member_list_search_td_fonts{ display:inline-block; width:18%; text-align:center;}

.member_list_info_nav{ width:100%; margin-top:40px; margin-bottom:10px;}
.member_list_info_nav_box{ width:100%; border-left:4px solid #ff0202; line-height:38px;}
.member_list_info_nav_font_one{font-size:14px; color:#555; padding-left:8px;}
.member_list_info_nav_font{ font-size:14px; color:#555;}
.member_list_info_nav_font em{ font-style:normal; font-weight:bold; color:#ff0202; padding-right:5px;}
.member_list_info_nav_line{ color:#999; padding:0 8px;}
.member_list_info_nav_btn{ display:inline-block; padding-left:20px;}
.member_list_info_nav_btn_a{ border:1px solid #E9E9E9; border-radius:5px; display:inline-block; height:34px; line-height:34px; width:100px; text-align:center; color:#ff0202; font-size:14px;}
.member_list_info_nav_btn_a em{ font-style:normal; color:#C5C5C5; padding-right:8px; font-size:16px;}
.member_list_info_nav_btn_a:hover{ border:1px solid #ff0202;}
.member_list_info_nav_btn_a:hover em{color:#ff0202;}

.member_list_info_nav_group{ display:inline-block; float: right; padding-right:5px;}
.member_list_info_nav_group_select{ width:200px;display:inline-block;}
.member_list_info_nav_group_select select{height: 37px;line-height: 37px;width:100%;border: 1px solid #dcdcdd;color: #5c5c5c;text-align: left;padding: 0 5px;}


.member_list_con{ width:100%; margin:0 auto;}
.member_list_con_table{ width:100%; border:1px solid #dcdcdd;}
.member_list_con_td_title{ padding:0 5px;border-right:1px solid #dcdcdd; border-bottom:1px solid #dcdcdd;text-align:center; height:60px; line-height:60px;background: #FAFAFA; color:#828282; text-align:left;}
.member_list_con_td_title_left{ display:inline-block; float:left;}
.member_list_con_td_title_left_f a{ color:#A3A3A3; font-weight:normal; font-size:14px; padding:0 5px;}
.member_list_con_td_title_left_f a:hover{ color:#ff0202;}
.member_list_con_td_title_right{ display:inline-block; float:right;}
.member_list_con_td_title_right_f a{ color:#828282;font-size:14px;padding:0 5px;}
.member_list_con_td_title_right_f a:hover{ color:#ff0202;}
.member_list_con_td_t{ padding:0 5px;border-right:1px solid #dcdcdd; border-bottom:1px solid #dcdcdd;text-align:center; height:45px; line-height:45px;background: #FAFAFA; color:#333333; font-style:normal; font-weight:normal;}
.member_list_con_td_t input[type=checkbox]{ width:18px; height:18px;}
.member_list_con_td{border-right:1px solid #dcdcdd; border-bottom:1px solid #dcdcdd; text-align:center; height:50px; line-height:50px; color:#333333;}
.member_list_con_td input[type=checkbox]{ width:18px; height:18px;}
a.member_list_con_td_a,member_list_con_td_a:link,member_list_con_td_a:visited{ color:#7C7C7C;}
a.member_list_con_td_a_s,member_list_con_td_a_s:link,member_list_con_td_a_s:visited{ color:#6CABEA;}

.member_list_con_td_a_line{ color:#e9e9e9; padding:0 3px;}
.member_list_con_td_pp{ line-height:25px;}
.consume_p{line-height:25px;color:#ff0202;}
.consume_pp{line-height:25px;color:#1ae94b;}
.consume_red{color:#ff0202;}
.integral_green{color:#1ae94b;}

/*会员管理 end*/

/*会员详情 start*/


/*会员详情 end*/
/*创建会员卡 start*/
.member_create_coad{ width:100%; margin:0 auto; overflow:hidden;} 
.member_create_coad_div{width:100%; margin:20px auto;}
.member_create_coad_item{ width:210px; margin-right:22px; float:left; margin-bottom:20px;}
.member_create_coad_item_box{ border:1px solid #dcdcdd; width:100%; height:100px; border-radius:10px;}

.member_create_coad_item_top{ height:20px; line-height:20px; width:90%; margin:0 auto;}

.member_create_coad_item_center{ height:54px; line-height:54px; width:90%; margin:0 auto; text-align:center;}
.member_create_coad_item_center_span{ font-size:18px; font-weight:bold; color:#2F2F2F; display: inline-block;width:100%;white-space:nowrap; overflow:hidden;text-overflow:ellipsis;}
.member_create_coad_item_bottom{ height:25px; line-height:24px; width:90%; margin:0 auto;}

.member_create_coad_item_bottom_l{ float:left;}
.member_create_coad_item_bottom_l a{ font-size:12px; display:inline-block;  height:25px; line-height:25px;}

.member_create_coad_item_bottom_l a i{ background:url(../../../resources/images/member/member_list_create_coad_edit.png) no-repeat center center; padding:2px 8px;}
.member_create_coad_item_bottom_l a:hover i{ background:url(../../../resources/images/member/member_list_create_coad_edit_h.png) no-repeat center center; padding:2px 8px;}

.member_create_coad_item_bottom_r{ float:right;}
.member_create_coad_item_bottom_r a{ font-size:12px; display:inline-block;  height:25px; line-height:25px;}
.member_create_coad_item_bottom_r a i{ background:url(../../../resources/images/member/member_list_create_coad_del.png) no-repeat center center; padding:2px 8px;}
.member_create_coad_item_bottom_r a:hover i{ background:url(../../../resources/images/member/member_list_create_coad_del_h.png) no-repeat center center; padding:2px 8px;}

.member_create_coad_item_box:hover{ border:1px solid #ff0202; width:100%; height:100px; border-radius:10px; cursor:pointer;}
.member_create_coad_item_box:hover span.member_create_coad_item_center_span{ color:#ff0202;}
.member_create_coad_item_select .member_create_coad_item_box{ border:1px solid #ff0202; width:100%; height:100px; border-radius:10px; cursor:pointer;}
.member_create_coad_item_select span.member_create_coad_item_center_span{ color:#ff0202;}

.member_create_coad_item_center_span_i{ background:url(../../../resources/images/member/member_list_create_j_t.png) no-repeat center center; padding:6px 20px;margin-right: 10px;}
.member_create_coad_item_box:hover i.member_create_coad_item_center_span_i{ background:url(../../../resources/images/member/member_list_create_j_t_h.png) no-repeat center center; padding:6px 20px;margin-right: 10px;}

/*创建会员卡 emd*/
/*创建活动 start*/
.member_create_acticity_nav{ width:100%; margin:20px auto;border-bottom:1px solid #dddddd; }
.member_create_acticity_nav ul{ width:80%; margin:0 auto; line-height:47px; height:47px; overflow:hidden;}
.member_create_acticity_nav_li{ float:left; width:25%; text-align:center; line-height:45px; height:45px; }
a.member_create_acticity_nav_a{ color:#333333; font-size:16px; display:inline-block;line-height:45px; height:45px; width:100%; }
a.member_create_acticity_nav_a:hover{ color:#ff0202; font-size:16px;display:inline-block;line-height:45px; height:45px; width:100%; border-bottom:3px solid #ff0202;}
.on a.member_create_acticity_nav_a{color:#ff0202; font-size:16px;display:inline-block;line-height:45px; height:45px; width:100%; border-bottom:3px solid #ff0202;}

.member_create_coad_item_top_span{ font-size:12px; padding-top:5px; color:#ff0202;}
.member_create_coad_item_bottom_c{ float:left; margin-left:30px;}
.member_create_coad_item_bottom_c a{ font-size:12px; display:inline-block;  height:25px; line-height:25px;}
.member_create_coad_item_bottom_c a i{ background:url(../../../resources/images/member/member_list_create_coad_t.png) no-repeat center center; padding:2px 8px;}
.member_create_coad_item_bottom_c a:hover i{ background:url(../../../resources/images/member/member_list_create_coad_t_h.png) no-repeat center center; padding:2px 8px;}

.member_create_coad_tips{ width:100%; height:50px; margin-top:10px; position:relative;}
.member_create_coad_tips_s{ display:inline-block; width:96%; height:40px; border:2px solid #FFDFB6; background:#FFFBF2;border-radius: 5px; padding:5px 2%; color:#6B6C6A;}
.member_create_coad_tips_i{position: absolute; left: 50%;margin-left: -6px; top:-6px;}
.arrow_out{display: inline-block;width: 0;height: 0;border-width: 6px;border-style: dashed;border-color: transparent; border-top-width: 0;border-bottom-color: #FFDFB6;border-bottom-style: solid;}
.arrow_in{display: inline-block;width: 0;height: 0;border-width: 6px;border-style: dashed;border-color: transparent;border-top-width: 0;border-bottom-color: #FFDFB6;border-bottom-style: solid;}

/*创建活动 end*/

/*消息推送 start*/
.member_create_coad_tips_btn{ width:100%; margin:0 auto; height:48px; line-height:48px; text-align:center;}
.member_create_coad_tips_btn input[type=radio]{ width:17px; height:17px; vertical-align:middle;}
.tips_btn_font{ font-size:14px; color:#333333;}
.tips_btn_font_select{font-size:14px; color:#ff0202;}


/*消息推送 end*/







.footer{ font-size:12px;text-align:center;width:100%;padding-top:26px;height:52px;background:#0d0d0d;color:#868686;}