body {
    font-family: "微软雅黑";
    font-size: 12px;
    margin: 0;
    padding: 0;
    background: white;
}

a {
    text-decoration: none;
    color: #444
}

a:hover {
    text-decoration: none;
    color: #c81623;
}

input:focus {
    outline: none;
}

.container {
    width: 1200px;
    padding-left: 0;
    padding-right: 0;
}

p {
    font-size: 12px;
    line-height: 17px
}

h1, h2, h3, h4, h5, h6, p {
    font-family: "微软雅黑";
}

textarea {
    resize: none;
}



/*推荐好货  start*/
.recommend_good{
    background: #f6f6f6;
    padding: 20px 0;
}
.recommend_good_b{
    background:#ffccc1;
    padding:10px 20px 20px 20px;
}
.rg_title{
    color:#ff0000;
    font-size:28px;
    text-align:center;

}
.rg_title_l{

}
.rg_title_c{
    font-size: 28px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #FF0000;
    display: inline-block;
    vertical-align: middle;
}
.rg_title_r{
    color:#ea9988;
}

.rg_con{
    background:#FFF;
    height:330px;
}
.rg_con_l{
    width:220px;
    border-right:1px solid #e0dddc;

}
.rg_con_l_bo{
    padding:10px;
}
.rg_con_l_h2{
    font-size:18px;
    color:#5a5a5a;
    height:20px;
    line-height:20px;
    overflow:hidden;
    max-width:100%;
    _width: 100%;
    font-weight:bold;
}
.rg_con_l_p{
    padding: 3px 0;
    height: 25px;
    font-size: 18px;
    font-weight: 700;
    margin-right: 8px;
    color: #f10214;
}
.rg_con_l_p i{
    font-size: 12px;
    font-weight: 300;
    font-family: arial;
    font-style: normal;
}
.rg_con_img{
    padding:10px 0;
    text-align:center;
    height:246px;
}
.rg_con_img a{
    display:block;
    text-align:center;
}
.rg_con_img a img{
    max-width:100%;
    max-height:246px;
    vertical-align:middle;
    display:inline-block;
}

.rg_con_r{
    width:940px;

}
.rg_con_r_box{
    
}
.rg_con_r_item{
    width:235px;
    height:165px;
    border-bottom:1px solid #e0dddc;
    border-left:1px solid #e0dddc;
    margin-left:-1px;
    overflow: hidden;
}
.rg_con_r_item_box{
    padding:10px;
    height:165px;
}
.rg_con_r_h2{
    padding:0;
}
.rg_con_r_p{
    padding:0;
    margin:0;
}
.rg_con_r_img{
    text-align:center;
    height:90px;
}
.rg_con_r_img a{
    display:block;
    text-align:right;
}
.rg_con_r_img a img{
    max-width:100%;
    max-height:90px;
    vertical-align:middle;
    display:inline-block;
}





/*推荐好货  end*/

