
/**
 * 2017-8-30  蓝色星空岛
 */

/*818活动  豪礼揭晓活动页*/

.new_818_banner{
	width:100%;
	min-width: 1200px;
}
.new_818_banner img{
	max-width:100%;
}
.content_bg{
	background:#ffa322 url(../images/new_818_bg.jpg) no-repeat top center/100% auto;
	min-width: 1200px;
	margin-top:-50px;
}

.turntable_body{
	width:965px;
	height:auto;
	margin:0 auto;
	overflow:hidden;
}
.turntable_box{
	width:100%;
	text-align:center;
	margin:0 auto;
	position:relative;
}
.turntable_box_pic{
	width:100%;
}
.lucky_draw_click{
	width:250px;
	height:250px;
	position:absolute;
	top:266px;
	left:50%;
	margin-left:-125px;
}
.lucky_draw_click img{
	height:100%;
	height:100%;
	transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    -ms-transform: rotate(40deg);

/*	transition: All 0.8s ease-in-out;
    -webkit-transition: All 0.8s ease-in-out;
    -moz-transition: All 0.8s ease-in-out;
    -o-transition: All 0.8s ease-in-out;*/
}
/*.lucky_draw_click img:hover {
    transform: rotate(720deg);
    -webkit-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
}*/

.turntable_com{
	position:absolute;
	width:100%;
	top:780px;
	left:0;
	right:0;
}

.turntable_com_one{

}
.font_bgs{
	display: inline-block;
	width:70px;
	height:70px;
	line-height:70px;
	text-align:center;
	background:url(../images/new_818_y_bg.png) no-repeat center center/100% auto;
}
.turntable_com_two{
	margin-top:30px;
}
.turntable_com_two img{
	max-width: 100%;
}
.turntable_com_three{
	width:100%;
	margin:0 auto;
	margin-top: 150px;
}
.three_ul{
	width:730px;
	margin:0 auto;
}
.lis_h{
	height:46px;
	line-height:46px;
	position:relative;
	list-style:none;
	margin-top:3px;
}
.lis_h_title{
	background: #ffed37;
	display:block;
	position:absolute;
	left:0;
	top:0;
	height:46px;
	line-height:46px;
	width:190px;
	text-align:center;
	color:#000;
	font-size: 28px;
}
.lis_h_con{
	padding-left: 192px;
	height:46px;
	line-height:46px;
	overflow:hidden;
	text-align:center;
	color:#FFF;
	font-size:28px;
	background:#d92f16;
}

.turntable_total{
	width:100%;
	margin:0 auto;
	margin-top:30px;
	position:relative;
}
.total_boxs{
	position:absolute;
	width:870px;
	height:820px;
	top:216px;
	left:48px;
}
.total_title{
	height:192px;
}
.total_title_l{
	width:220px;
	text-align:left;
	margin-top: 30px;
    margin-left: 20px;
}
.total_title_l h2{
	font-size:42px;
	margin:0 auto
}
.total_title_l h4{
	margin:10px auto;
}
.total_title_l .div_font{
	color:#877300;
	line-height:30px;
}
.total_title_r{
	margin-top: 50px;
	width:385px;
}
.total_title_r span{
	font-size:80px;
	color:#877300;
	line-height:70px;
	display:inline-block;
}
.total_con_title{
	height:70px;
	line-height:70px;
}
.con_uls{
	width:100%;
	height:100%;
	overflow:hidden;
}
.con_uls{
	margin:0 auto;
	padding:0;
}
.con_uls li{
	width:33.33%;
	text-align:center;
	font-size:32px;
	color:#ffe467;
}
.total_con_body{
	width:100%;
	height:558px;
	overflow:hidden;
	overflow-y:auto;
}
.total_table{
	padding:0;
	margin:0;
	border: 0;
}
.total_table tr{
	background:none !important;
}
.total_table td{
	padding:0;
	margin: 0;
	border:0;
	border-right:1px solid #000;
	border-bottom:1px solid #000;
}
.total_table tr td:last-child{
	border-right:0;
}
.img_tables img{
	height:50px;
}

.turntable_rules{
	margin:0 auto;
	width:100%;
	margin-top:-100px;
	position:relative;
}

.rules_box{
	position:absolute;
	width: 870px;
    height:628px;
    top:193px;
    left: 48px;
}
.rules_con{
	width:780px;
	margin:20px auto;
}
.rules_con_li{
	list-style:none;
	margin-top:30px;
}
.rules_con_li_l{
	top:0;
	left: 0;
	width:45px;
	height:45px;
	line-height:45px;
	background:#ffed37;
	border-radius:50%;
	display:block;
	text-align:center;
}
.rules_con_li_r{
	padding-left:70px;
	line-height:42px;
}
.rules_btn{
	height:42px;
	line-height:42px;
	text-align:center;
	background:#ffed37;
	padding:2px 20px;
	border-radius:10px;
}

.back_tops{
	width: 100%;
	text-align:center;
	margin:30px auto;
}


.prs{
	position:relative;
}
.pas{
	position:absolute;
}
.fc_w{
	color:#FFF;
}
.fc_red{
	color:#ed0f1a;
}
.fc_b{
	color:#000;
}
.fc_ye{
	color:#ffe467;
}
.fs_24{
	font-size:24px;
}
.fs_26{
	font-size:26px;
}
.fs_28{
	font-size:28px;
}
.fs_30{
	font-size:30px;
}
.fs_32{
	font-size:32px;
}
.fs_40{
	font-size:40px;
}
.fs_50{
	font-size:50px;
}
.fw_b{
	font-weight:bold;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
.ov_el_po{
	overflow: hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.t_a_c{
	text-align:center;
}
.wh_263{
	width:262px;
}
.wh_317{
	width:316px;
}
.wh_290{
	width:286px;
}
.he_70{
	height:68px;
	line-height:64px;
}
.he_50{
	height:48px;
	line-height:43px;
}



