body{font-family: "微软雅黑" ;padding: 0;margin: 0;overflow: auto}
html,body{height: 100%}
*{margin: 0;padding: 0;}
img{margin: 0;padding: 0;border: 0; outline-width:0px;vertical-align:top; }
a:hover,a{text-decoration: none}
.redmallWap-box640{max-width: 640px;margin: auto;background: url("../images/live-bg.png") center top no-repeat/100% auto;min-height: 100%}
/*首页开始*/

.liveShow{
	padding:16rem 1.5rem 0rem;
}
.font_titles{
	text-align:center;
}
.pmrs{
	padding:0;
	margin:0;
}
.mbot{
	margin-bottom:0.5rem;
}
.ycolor{
	color:#fae335;
}
.wcolor{
	color:#FFF;
}
.fonts46{
	font-size:1.2rem;
}
.fonts40{
	font-size:1rem;
}
.fontwe{
	font-weight:bold;
}
.amg{
	margin-top:-0.5rem;
}
.amg img{
	max-width: 100%;
}



/*首页结束*/


@media screen and (min-width:750px){
    .liveShow{
		padding:20rem 1.5rem 0rem;
	}
}
@media screen and (max-width:750px){
    .liveShow{
		padding:21rem 1.5rem 0rem;
	}
}

@media screen and (max-width:640px){
    .liveShow{
		padding:21rem 1.5rem 0rem;
	}
}
@media screen and (max-width:480px){
    .liveShow{
		padding:16rem 1.5rem 0rem;
	}
}
@media screen and (max-width:320px){
    .liveShow{
		padding:14rem 1.5rem 0rem;
	}
}

