

/**
*蓝色星空岛 css  2017-8-23
*/

.title_limit{
	margin:10px auto;
}
.sechill_goods{
	position:relative;
	width:100%;
}
.left_drops{
	position:absolute;
	z-index:99;
	left:-45px;
	top:100px;
}
.left_drops a{
	display: block;
	padding:10px;
}
.right_drops{
	position:absolute;
	z-index:99;
	right:-45px;
	top:100px;
}
.right_drops a{
	display: block;
	padding:10px;
}
.sechill_goods_box{
	width:100%;
	overflow:hidden;
}

.sechill_ul{
	margin-left:-7px;
}

.border_gray{
	border:1px solid #b9b9b9;
	width:290px;
	margin-left:9px;
	position:relative;
	height: 236px;
}
.limit_img{
	text-align:center;
	margin:0 auto;
	height:172px;
}
.limit_img img{
	max-height: 100%;
	max-width: 100%;
}
.limit_info{

}
.limit_info_l{
	width:60%;
	/*border-top:1px solid #b9b9b9;*/
}
.my_pic_num{
	color: #d70e0e;
	font-size: 24px;
	font-weight: 600;
	padding: 0 5px;
}
.limit_price{
	height:35px;
	line-height:35px;
	overflow:hidden;
	white-space: nowrap; 
	text-overflow: ellipsis;
	padding:0 5px;
}
.limit_price span{
	color:#d70e0e;
	font-size:16px;
	
}
.limit_price span em{
	color:#d70e0e;
	font-size:24px;
	font-style:normal;
	font-weight:bold;

}
.limit_price del{
	color:#69656a;
	font-size:14px;
}

.limit_stock{
	padding:0 5px;
	margin-bottom: 10px;
}
.limit_stock_t{
	color:#69656a;
	font-size:14px;
	padding:0;
	margin:0;
	overflow:hidden;
	white-space: nowrap; 
	text-overflow: ellipsis;
}
.limit_stock_t span{
	color:#69656a;
	font-size:14px;
}
.hs_6{
	height:6px;
	margin-bottom:1px;
	margin-top:3px;
}
.bg_co_gr{
	background:#b8b8b8;
}
.bg_co{
	background:#d70e0e;
}

.limit_info_btn{
	height:70px;
	line-height:70px;
	text-align:center;
	font-size:21px;
	color:#FFF;
	font-weight:bold;
	background:#d70e0e;
	width:35%;
}
.limit_info_right{
	width:40%;
	padding-right: 5px;
}
.limit_info_right del{
	margin-top: 12px;
	display: inline-block;
	color: #69656a;
	margin-bottom: 10px;
	height: 17px;
}
.layer_pop{
	position:absolute;
	top:0;
	right:0;
	left:0;
	bottom:0;
	width:100%;
	height:100%;
	z-index: 100;
}
.layer_begin{
	background:url(../images/pop_begin2.png) no-repeat center center/auto 100% rgba(255,255,255,0.6);
	background-size: auto;
}
.layer_over{
	background:url(../images/pop_end_bg.png) no-repeat center center/auto 100% rgba(0,0,0,0.4);
	background-size: auto;
	height: 74%;
}

/*添加秒杀页0829开始*/
.seckill-li{
	position: relative;
	margin-bottom: 10px;
	height: 219px;
}
.seckill-popup{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	display: none;
}
.seckill-li.active-end .seckill-popup{
	display: block;
	background: url("../images/pop_end_bg.png") center center no-repeat rgba(0,0,0,0.5);
	background-size: auto;
	background-position-x: 70px;
	width: 50%;
}
.seckill-li.active .seckill-popup{
	display: block;
	background: url("../images/pop_begin2.png") center center no-repeat rgba(255,255,255,0.5);
	background-size: auto;
	background-position-x: 70px;
}
.seckill-text{    overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	height: 43px;
	margin-top: 30px;
	margin-bottom: 25px;
}
.seckill-price{
	padding: 0;
}
.seckill-price span em{
	font-size: 30px;
	margin-right: 5px;
}
.seckill-progress{
	width: 100%;
	margin-top: 20px;
	border-radius: 0;
}
/*添加秒杀页0829结束*/

.mt5{margin-top: 7px!important;}
.bg_f7f{background-color: #f7f7f7}
.c_d70{color: #d70e0e}