
/*特色中华内页 start*/

.banner_titles{
    height:45px;
    line-height:45px;
    text-align:center;
    background:#c81623;
    margin-bottom:40px;
}
.banner_titles span{
    font-size:32px;
    word-spacing:8px; 
    letter-spacing: 15px;
    font-weight:bold;
}
.triangle_icon{
    display:inline-block;
    width:132px;
    height:34px;
    position:absolute;
    top:45px;
    left:50%;
    margin-left:-66px;
    background:url(../images/triangle_bg.png) no-repeat center center/auto 100%;
}

.wh_990{
    width:990px;
}
.hs_180{
    height:180px;
}
.hs_230{
    height:230px;
}
.title_font_img{
    text-align: left;
}
.text_a_r{
    text-align:right;
}
.text_a_c{
    text-align:center;
}
.title_font_img img{
    width:717px;
}
.wh_247{
    width:247px;
    margin-bottom:-1px;
    margin-left:-1px;
}
















/*特色中华内页 start*/














