@charset "utf-8";
/* CSS Document */

html,body{ font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","\9ED1\4F53",Arial,sans-serif;}



/*关注商家 start*/
.attention_business{    width: 100%; margin: 0 auto;}
.attention_business_title{ width:70%; margin:20px auto; border:1px solid #EBEBEC; text-align:center; font-size:14px; color:#222222;overflow:hidden;}
.attention_business_title_left{ display:inline-block; width:48%; height:40px; line-height:40px; overflow:hidden;}
.attention_business_title_left_border{border-right:1px solid #EBEBEC;}
.attention_business_title_left_t{ display:inline-block; width:30%; height:40px; line-height:40px;overflow:hidden;}
.attention_business_title_left_c{ display:inline-block; width:68%; height:40px; line-height:40px;overflow:hidden;}
.attention_business_title_left_c a{ color:#fd3232; font-size:16px;}

.attention_business_con{ width:100%; margin:20px auto;}
.attention_business_con_box{ width:100%; text-align:justify;}
.attention_business_con_div{ width:48%; display:inline-block; height:300px; border:1px solid #D2CFCF;}




/*关注商家 end*/


/*未关注的商家 start*/
.not_attention_business_con{width:95%; margin: 20px auto;}
.not_attention_business_con_box{ width:100%; border-top:1px dashed #dcdcdd;border-bottom: 1px dashed #dcdcdd;}
.not_attention_business_con_item{width:50%; border-bottom:1px dashed #dcdcdd; float:left; margin-top:20px; height:180px;}
.not_attention_business_con_item_left{ width:40%; float:left; text-align:center;}
.not_attention_business_con_item_left a{ display: table-cell; vertical-align:middle; text-align:center; border:1px solid #dcdcdd; width:160px; height:100px;}
.not_attention_business_con_item_left_img{ max-width:160px; max-height:100px; display:inline-block;vertical-align: middle;}

.not_attention_business_con_item_right{ width:56%; float:right; overflow:hidden; height:179px; position:relative;}
.not_attention_business_con_item_right_title{ font-size:16px; color:#323131; width:100%;line-height:28px; overflow:hidden; height:28px;}
a.not_attention_business_con_item_right_title_a{ font-size:16px; color:#323131; height:28px; line-height:28px;}
a.not_attention_business_con_item_right_title_a:hover{ color:#ff0202;}

.not_attention_business_con_item_right_tips{ margin-top:1px; width:100%; overflow:hidden; height:25px; line-height:25px;}
.not_attention_business_con_item_right_tips_l{ display:inline-block;max-width:30%; font-size:12px; color:#323131; overflow:hidden;height:25px; line-height:25px;}
.not_attention_business_con_item_right_tips_line{ display:inline-block; width:2%; height:25px; line-height:25px; overflow:hidden; color:#BDBDBD;}
.not_attention_business_con_item_right_tips_r{ display:inline-block;max-width:65%; font-size:12px; color:#323131; overflow:hidden;height:25px; line-height:25px;}

.not_attention_business_con_item_right_number{margin-top:1px; width:100%; overflow:hidden; height:25px; line-height:25px;}
.not_attention_business_con_item_right_number_l{display:inline-block;max-width:31%; white-space:nowrap; font-size:12px; color:#323131; overflow:hidden;height:25px; line-height:25px;margin-right:1%;}
.not_attention_business_con_item_right_number_c{display:inline-block;max-width:31%; white-space:nowrap; font-size:12px; color:#323131; overflow:hidden;height:25px; line-height:25px;margin-right:1%;}
.not_attention_business_con_item_right_number_r{display:inline-block;max-width:31%; white-space:nowrap; font-size:12px; color:#323131; overflow:hidden;height:25px; line-height:25px;}


.not_attention_business_con_item_right_star{width:100%; overflow:hidden; height:25px; line-height:25px;}
.not_attention_business_con_item_right_star_l{ display:inline-block; max-width:58%; overflow:hidden;height:25px; line-height:25px;}
.not_attention_business_con_item_right_star_r{ display:inline-block; max-width:38%; overflow:hidden;height:25px; line-height:25px;}
.not_attention_business_con_item_right_star_i{ padding:2px 10px; background:url(../../resources/images/collection.png) no-repeat center center;}
.not_attention_business_con_item_right_star_i_no{ padding:2px 10px; background:url(../../resources/images/collection_no.png) no-repeat center center;}

.not_attention_business_con_item_right_follow{width:100%; overflow:hidden; height:25px; line-height:25px;}
.not_attention_business_con_item_right_follow_l{display:inline-block; max-width:60%; overflow:hidden;height:25px; line-height:25px;}
.not_attention_business_con_item_right_follow_r{display:inline-block; max-width:30%; overflow:hidden;height:25px; line-height:25px; padding-left:5%;}
.not_attention_business_con_item_right_follow_l_i{padding:2px 10px; background:url(../../resources/images/attention_business_icon.png) no-repeat center center;}

.not_attention_business_con_item_right_btn{width:100%; overflow:hidden; height:40px; line-height:40px; margin-bottom:10px; position:absolute; left:0; bottom:0;}
a.not_attention_business_con_item_right_btn_a{ display:inline-block; border:1px solid #ff0202; background:#fb6d6d; height:32px; line-height:32px; width:100px; border-radius:3px; text-align:center; color:#FFF; font-size:14px;}
a.not_attention_business_con_item_right_btn_a:hover{ background:#FB8F8F; color:#fff;}
.not_attention_business_con_item_right_btn_a_i{ padding:2px 10px; background:url(../../resources/images/attention_business_icon_jia.png) no-repeat center center; margin-right:5px;}



/*未关注的商家 end*/

/*已关注的商家 start*/
.not_attention_business_con_item_right_follow_l_onei{padding:2px 10px; background:url(../../resources/images/attention_business_one_icon.png) no-repeat center center;}
a.not_attention_business_con_item_right_btn_onea{display:inline-block; border:1px solid #dc9308; background:#f0ab25; height:32px; line-height:32px; width:100px; border-radius:3px; text-align:center; color:#FFF; font-size:14px;}
a.not_attention_business_con_item_right_btn_onea:hover{ background:#ECC26F;color:#fff;}


/*已关注的商家 end*/


/*商家详情 start*/
.attention_business_details{    width: 100%;margin: 0 auto;}
.attention_business_details_info{    border: 1px solid #dcdcdd;width: 100%;}
.attention_business_details_info_box{    width: 95%;margin: 20px auto;}
.attention_business_details_info_left{ float:left; width:162px;}
.attention_business_details_info_left_span{width:160px; display:table-cell; vertical-align:middle; text-align:center;border: 1px solid #dcdcdd; height:102px;}
.attention_business_details_info_left_span img{max-width:190px;}
.attention_business_details_info_left_img{ max-width:190px;}
.attention_business_details_info_right{ width:705px; float:right;}
.attention_business_details_info_right_top{border-bottom: 1px dashed #dcdcdd; width:100%;padding-bottom:10px;}
.attention_business_details_info_right_title{ font-size:16px; color:#323131; font-weight:bold; width:100%; height:32px; line-height:32px; overflow:hidden;}

.attention_business_details_info_right_con{ height:40px; width:100%; line-height:40px;}
.attention_business_details_info_right_con_l{ display:inline-block; width:35%; line-height:38px; height:38px; overflow:hidden; font-size:14px; color:#999999;}
.attention_business_details_info_right_con_r{ display:inline-block; width:55%; line-height:38px; height:38px; overflow:hidden; }
.attention_business_details_info_right_con_r_f{ display:inline-block; max-width:48%;}
.attention_business_details_info_right_con_r_fi{ padding:2px 10px; background:url(../../resources/images/attention_business_icon.png) no-repeat center center; margin-right:10px;}

a.attention_business_details_info_right_con_r_btn{    display: inline-block;
    border: 1px solid #ff0202;
    background: #fb6d6d;
    height: 32px;
    line-height: 32px;
    width: 100px;
    border-radius: 3px;
    text-align: center;
    color: #FFF;
    font-size: 14px;    margin-left: 20px;    cursor: pointer;}
a.attention_business_details_info_right_con_r_btn:hover{background:#FB8F8F;}
.attention_business_details_info_right_con_r_btn_i{    padding: 2px 10px;
    background: url(../../resources/images/attention_business_icon_jia.png) no-repeat center center;
    margin-right: 5px;}

.attention_business_details_info_right_bottom{ width:100%; margin:10px auto;}
.attention_business_details_info_right_bottom p{ font-size:14px; color:#000000; line-height:28px;}

.attention_business_details_con{width: 100%;margin: 20px auto;border: 1px solid #dcdcdd;}
.attention_business_details_con_title{ height:47px; line-height:47px; width:100%; margin:0 auto;border-bottom: 1px solid #dcdcdd;}
.attention_business_details_con_title_ul{width:100%; margin:0 auto;}
.attention_business_details_con_title_li{ width:130px; float:left; text-align:center; border-right:1px solid #dddddd; background:#f1f1f1;}
a.attention_business_details_con_title_li_a{ display:block; font-size:14px; color:#666666;}
a.attention_business_details_con_title_li_a:hover{ border-top:2px solid #ff0202; margin-top:-2px; background:#FFF; height:49px; color:#000000;}
a.attention_business_details_selected{ border-top:2px solid #ff0202; margin-top:-2px; background:#FFF; height:49px; color:#000000;}

.attention_business_details_con_box{ min-height:200px; width:95%; margin:20px auto;}
.attention_business_details_con_box_title{    width: 100%;margin: 0 auto;border-bottom: 1px dashed #909090;}
.attention_business_details_con_box_title_zh{    display: inline-block; background: #010101;color: #FFF;height: 30px;line-height: 30px;font-size: 14px;padding: 0 10px;margin-bottom: 12px;}
.attention_business_details_con_box_title_en{padding-left: 5px; color: #8d8d8d;}

.attention_business_details_con_introduction{ width:100%; margin:20px auto;}
.attention_business_details_con_introduction_l{ float:left; width:30%; text-align:center;}
.attention_business_details_con_introduction_l img{max-width:100%; max-height:200px;}
.attention_business_details_con_introduction_r{float:right; width:67%;}
.attention_business_details_con_introduction_r_t{ font-size:14px; font-weight:bold; color:#222222;}
.attention_business_details_con_introduction_r_c{ font-size:14px; color:#5b5b5b;}

.attention_business_details_con_box_info{ width:100%; margin:20px auto;}
.attention_business_details_con_box_info_table{width: 100%;border: 1px solid #e2e2e4;}
.attention_business_details_con_box_info_title{    border-right: 1px solid #e2e2e4;
    border-bottom: 1px solid #e2e2e4;
    width:10%;
    height: 40px;
    line-height: 40px;
    padding: 0 5px;
    overflow: hidden;
    background: #efeff2;
    font-size: 14px;
    color: #222222;
    text-align: center;}
.attention_business_details_con_box_info_td{    border-bottom: 1px solid #e2e2e4;
    border-right: 1px solid #e2e2e4;
    width:38%;
    height: 40px;
    line-height: 40px;
    padding: 0 5px;
    overflow: hidden;
    font-size: 14px;
    color: #222222;}
.attention_business_details_con_box_maps{ width:100%; margin:20px auto; min-height:200px;}

.attention_business_details_con_box_imgs{ width:100%; margin:20px auto; margin-top:10px;}
.attention_business_details_con_box_imgs_div{ width:24.5%; text-align:center; display:inline-block;margin-top:20px;}
.attention_business_details_con_box_imgs_a{ width:200px; display: table-cell;  text-align:center; vertical-align:middle; border:1px solid #e2e2e4; height:200px;}
.attention_business_details_con_box_imgs_a img{ max-width:100%; max-height:100%; vertical-align:middle;}









/*商家详情 end*/




