html,body,div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, 
pre, form, fieldset, input, textarea, p, blockquote, th, td { 
    padding: 0;
    margin: 0;
}
body{ background:#f3f3f3; font-family:Microsoft YaHei; font-size:14px;}

.enterprise_redpacket_index{width: 100%;margin: 0 auto;}
.enterprise_redpacket_index_box{width: 100%;margin: 0 auto;}

.enterprise_redpacket_index_list{width: 100%;margin: 0 auto;margin-bottom: 60px;}
.enterprise_redpacket_index_list_title{width: 100%;margin:10px auto;height:34px;line-height:34px;}
.enterprise_redpacket_index_list_title_l{color: #FF0202;background: #FF0202;}
.enterprise_redpacket_index_list_title_r{    padding-left: 2px;font-weight: bold;font-size: 16px;color: #323131;}
.enterprise_redpacket_index_list_title:after{content:"";display:block;clear:both;}
a.enterprise_redpacket_index_list_title_a{display:block;height:32px;margin-left:10px;line-height:32px;text-align:center;width:100px;border:1px solid #dcdcdd;border-radius:5px;background: url(../../resources/images/activity/collect_bg.png) repeat-x;}


.enterprise_redpacket_index_list_con{width: 100%;margin: 0 auto;}
.enterprise_redpacket_index_list_con_table{width: 100%;border: 1px solid #dcdcdd;}
.enterprise_redpacket_index_list_con_td_t{    padding: 0 5px;border-right: 1px solid #dcdcdd;border-bottom: 1px solid #dcdcdd;text-align: center;height: 45px;line-height: 45px;
background: #FAFAFA;color: #333333;font-style: normal;font-weight: normal;font-size:14px;}
.enterprise_redpacket_index_list_con_td{border-right: 1px solid #dcdcdd;border-bottom: 1px solid #dcdcdd;font-size:14px;text-align: center;height: 50px;line-height: 50px;color: #333333;}

.enterprise_redpacket_index_list_con_td a{color:#4a9ce8;padding:0 3px;}
.enterprise_redpacket_index_list_con_td a:hover{color:#ff0202;padding:0 3px;}

.enterprise_redpacket_index_list_search{ width:100%;}
.enterprise_redpacket_index_list_search_table{ width:100%; margin-top:20px;    font-family: Microsoft YaHei;color: #5a5a5a;}
.enterprise_redpacket_index_list_search_table td{  color:#5c5c5c;}
.enterprise_redpacket_index_list_search_td{width:32%;height:35px; line-height:35px;}
.algin_right{text-align:right;}
.enterprise_redpacket_index_list_search_td_t{ width:8%; text-align:right; padding-right:10px; font-size:14px; color:#5c5c5c;height:35px; line-height:35px;}

.enterprise_redpacket_index_list_search_td select{ height:35px; line-height:35px; width:100%; border:1px solid #dcdcdd; color:#5c5c5c; text-align:center; vertical-align:middle; padding:0; }
.enterprise_redpacket_index_list_search_td input[type=text]{ height:35px; line-height:35px; width:87%; border:1px solid #dcdcdd; color:#5c5c5c; text-align:left; padding:0 5px;}
.widthss input{width:38% !important;}
.enterprise_redpacket_index_list_search_td select{ height:37px; line-height:37px; width:90%; border:1px solid #dcdcdd; color:#5c5c5c; text-align:left;padding:0 5px;}
.enterprise_redpacket_index_list_search_td_line{ display:inline-block; width:8%; text-align:center;}
.enterprise_redpacket_index_list_search_td select option{color:#5c5c5c; text-align:center;}
.enterprise_redpacket_index_list_search_td_fonts{ display:inline-block; width:18%; text-align:center;}

.enterprise_redpacket_index_list_search_btn{height:35px;line-height:35px;margin:20px auto;text-align:right;width:93%;}
.enterprise_redpacket_index_list_search_btn:after{content:"";display:block;clear:both;}
a.enterprise_redpacket_index_list_search_td_a{ padding:0 8px;}
a.enterprise_redpacket_index_list_search_td_a:hover{ color:#ff0202;}
a.enterprise_redpacket_index_list_search_td_a_select{ color:#ff0202; padding:0 8px;}
a.enterprise_redpacket_index_list_search_td_btn{ color:#FFF; background:#ff0202; display:inline-block; width:90px; text-align:center; border-radius:5px;    float: right;margin-right: 6px;}
a.enterprise_redpacket_index_list_search_td_btn:hover{ background:#e50606;color:#FFF;}

a.enterprise_redpacket_index_list_search_td_btn_b{border:1px solid #FF0202;background:#FFF;color:#FF0202;}
a.enterprise_redpacket_index_list_search_td_btn_b:hover{background:#e50606;color:#FFF;}

.enterprise_redpacket_index_list_page{margin:10px auto;text-align:center;}


.activity_search_width input[type=text]{ height:35px; line-height:35px; width:40%; border:1px solid #dcdcdd; color:#5c5c5c; text-align:left; padding:0 5px;}

/*
*创建活动 start*
*/
.create_activity_redpacket{width:100%;margin:0 auto;}
.create_activity_redpacket_box{width:85%;margin:20px auto;}
.create_activity_redpacket_title{margin-top:40px;}
.create_activity_redpacket_title span{font-size:18px;font-weight:bold;color:#5c5c5c;}
.create_activity_redpacket_con{margin:20px auto;width:100%;}
.create_activity_redpacket_con_item{width: 100%;margin: 25px auto;text-align: left;}
.create_activity_redpacket_con_item_box{width:95%;margin: 0 auto;overflow: hidden;white-space: nowrap;}
.create_activity_redpacket_con_item_l{font-size: 16px;color: #5c5c5c;padding-right:8px;}
.create_activity_redpacket_con_item_c{font-size: 16px;color: #5c5c5c;}
.create_activity_redpacket_con_item_c input{height: 35px;line-height: 35px;width:300px;border: 1px solid #dcdcdd;color: #5c5c5c;vertical-align: middle; padding:0 3px;font-size:16px;}
.create_activity_redpacket_con_item_c input[type=checkbox]{height:20px;width:20px;border: 1px solid #dcdcdd;color: #5c5c5c;vertical-align: middle; padding:0 3px;font-size:16px;}
span.create_activity_redpacket_con_item_r{color: #ff0202; display: none;}
.create_activity_redpacket_con_item_c_radio{padding-right: 5px;}
.create_activity_redpacket_con_item_c_radio input[type=radio]{width: 20px; height: 20px;font-size: 14px;cursor: pointer;}
.create_activity_redpacket_con_item_c_title{padding-right:50px;}

.time_limit input{width:131px;}
.time_limit_padding{padding-right:30px;}

.selects_redpacket:after{content:"";display:block;clear:both;}
.selects_redpacket_title{font-size: 16px;color: #5c5c5c;padding-right:8px;float:left;}
.selects_redpacket_con{float:left;}
.selects_redpacket_con_item{margin:0 auto;margin-bottom:20px;}
.selects_redpacket_con_item span{font-size: 16px;color: #5c5c5c;}
.selects_redpacket_con_item_radio{padding-right: 5px;}
.selects_redpacket_con_item_radio input[type=radio]{width: 20px; height: 20px;font-size: 14px;cursor: pointer;}
.selects_redpacket_con_item_title{padding-right:30px;}


.create_activity_redpacket_btn{width: 100%;text-align: center;margin: 20px 0 0 0;height: 75px;line-height: 75px;}
a.create_activity_redpacket_btn_sure{display:inline-block;width:120px;height:40px;line-height:40px;background:#FF0202;color:#fff;font-size:16px;font-family:Microsoft YaHei;border-radius:5px;margin-right:40px;border: 1px solid #ff0202;text-decoration: none;}
a.create_activity_redpacket_btn_sure:hover{ color:#FFF;background:#e50606;}
a.create_activity_redpacket_btn_cancel{display: inline-block;width:120px;height: 40px;line-height: 40px;background: #FFF;color: #ff0202;font-size: 16px;font-family: Microsoft YaHei;border-radius: 5px;margin-right:40px;border: 1px solid #ff0202;text-decoration: none;}
a.create_activity_redpacket_btn_cancel:hover{ background:#e50606;color:#FFF;}

.enterprise_redpacket_index_list_title .detail_delete_checkbox{font-size:14px;color:#5c5c5c;}
.enterprise_redpacket_index_list_title .detail_delete_checkbox input[type=checkbox]{height:20px;width:20px;border: 1px solid #dcdcdd;color: #5c5c5c;vertical-align: middle; padding:0 3px;font-size:16px;}
.enterprise_redpacket_index_list_title .detail_delete_font{font-size:15px;color:#5c5c5c;font-weight:bold;}
span.del_red{font-size:13px;color:#FF0202;}


/*
*创建活动 end*
*/

/*
*红包统计 start*
*/
.redpacket_stats{width: 100%;margin: 0 auto;}
.redpacket_stats_box{width: 100%;margin: 0 auto;}
.redpacket_stats_list{width: 100%;margin: 0 auto;margin-bottom: 60px;}
.redpacket_stats_list_search{ width:100%;}
.redpacket_stats_list_search_table{ width:100%; margin-top:20px;    font-family: Microsoft YaHei;color: #5a5a5a;}
.redpacket_stats_list_search_table td{  color:#5c5c5c;}
.redpacket_stats_list_search_td{width:32%;height:35px; line-height:35px;}
.algin_right{text-align:right;}
.redpacket_stats_list_search_td_t{ width:8%; text-align:right; padding-right:10px; font-size:14px; color:#5c5c5c;height:35px; line-height:35px;}
.redpacket_stats_list_search_td select{ height:35px; line-height:35px; width:100%; border:1px solid #dcdcdd; color:#5c5c5c; text-align:center; vertical-align:middle; padding:0; }
.redpacket_stats_list_search_td input[type=text]{ height:35px; line-height:35px; width:90%; border:1px solid #dcdcdd; color:#5c5c5c; text-align:left; padding:0 5px;}
.widthss input{width:38% !important;}
.redpacket_stats_list_search_td select{ height:37px; line-height:37px; width:90%; border:1px solid #dcdcdd; color:#5c5c5c; text-align:left;padding:0 5px;}
.redpacket_stats_list_search_td_line{ display:inline-block; width:8%; text-align:center;}
.redpacket_stats_list_search_td select option{color:#5c5c5c; text-align:center;}
.redpacket_stats_list_search_td_fonts{ display:inline-block; width:18%; text-align:center;}

.redpacket_stats_list_search_btn{height:35px;line-height:35px;margin:20px auto;text-align:right;width:93%;}
.redpacket_stats_list_search_btn:after{content:"";display:block;clear:both;}
a.redpacket_stats_list_search_td_a{ padding:0 8px;}
a.redpacket_stats_list_search_td_a:hover{ color:#ff0202;}
a.redpacket_stats_list_search_td_a_select{ color:#ff0202; padding:0 8px;}
a.redpacket_stats_list_search_td_btn{ color:#FFF; background:#ff0202; display:inline-block; width:90px; text-align:center; border-radius:5px;    float: right;margin-right: 6px;}
a.redpacket_stats_list_search_td_btn:hover{ background:#e50606;color:#FFF;}

a.redpacket_stats_list_search_td_btn_b{border:1px solid #FF0202;background:#FFF;color:#FF0202;}
a.redpacket_stats_list_search_td_btn_b:hover{background:#e50606;color:#FFF;}
.redpacket_stats_list_statistics{border:1px solid #dcdcdd;margin:20px auto;margin-bottom:40px;}
.redpacket_stats_list_statistics_title{margin:0 auto;height:34px;line-height:34px;border-bottom:1px solid #dcdcdd;background:#f3f3f4;padding:7px 20px 7px 10px;}
.redpacket_stats_list_statistics_title_l{color: #FF0202;background: #FF0202;}
.redpacket_stats_list_statistics_title_r{padding-left: 2px;font-weight: bold;font-size: 16px;color: #323131;}
.redpacket_stats_list_statistics_title:after{content:"";display:block;clear:both;}
a.redpacket_stats_list_statistics_title_a{float:right;display:block;height:32px;margin-left:10px;line-height:32px;text-align:center;width:100px;border:1px solid #dcdcdd;border-radius:5px;background: url(../../resources/images/activity/collect_bg.png) repeat-x;}
.redpacket_stats_list_statistics_con{margin:10px auto;width:95%;}
.redpacket_stats_list_statistics_con_top{margin:30px auto;}
.redpacket_stats_list_statistics_con_top:after{content:"";display:block;clear:both;}
.redpacket_stats_list_statistics_con_top_l{float:left;}
.redpacket_stats_list_statistics_con_top_l h4{font-size:16px;color:#5c5c5c;font-weight:normal;}
.redpacket_stats_list_statistics_con_top_l p{font-size:24px;color:#FF0202;}

.redpacket_stats_list_statistics_con_top_r{float:left;padding-left:100px;}
.redpacket_stats_list_statistics_con_top_r p{margin-top: 32px;font-size:16px;color:#5c5c5c;}
.redpacket_stats_list_statistics_con_top_r p span{font-size:16px;color:#4a9ce8;}

.redpacket_stats_list_statistics_con_line{height:2px;width:100%;border-bottom:1px dashed #dcdcdd;}

.redpacket_stats_list_statistics_con_center{margin:30px auto;overflow:hidden;width:100%;}
.redpacket_stats_list_statistics_con_center:after{content:"";display:block;clear:both;}
.redpacket_stats_list_statistics_con_center_item{width:25%;float:left;text-align:center;overflow:hidden;}
.redpacket_stats_list_statistics_con_center_item h4{text-align:center;font-size:16px;color:#5c5c5c;border-left:1px solid #dcdcdd;font-weight:normal;}
h4.borderleft{border-left:none;}
.redpacket_stats_list_statistics_con_center_item p{font-size:24px;color:#5c5c5c;text-align:center;width:100%;overflow:hidden;white-space:nowrap;}
.redpacket_stats_list_con{width: 100%;margin: 0 auto;}
.redpacket_stats_list_con_table{width: 100%;border: 1px solid #dcdcdd;}
.redpacket_stats_list_con_table .redpacket_stats_list_con_td_t{padding: 0 5px;border-bottom: 1px solid #dcdcdd;text-align:center;height: 45px;line-height: 45px;
background: #FAFAFA;color: #333333;font-weight: normal;font-weight:bold;}
.redpacket_stats_list_con_table .redpacket_stats_list_con_td{border-bottom: 1px dashed #dcdcdd;text-align:center;height: 50px;line-height: 50px;color: #333333;}

.redpacket_stats_list_con_table .redpacket_stats_list_con_td a{color:#4a9ce8;}
.redpacket_stats_list_con_table .redpacket_stats_list_con_td a:hover{color:#ff0202;}
.redpacket_stats_list_con_table .redpacket_stats_list_con_td span{color:#4a9ce8;font-size:14px;padding-left:10px;}


.redpacket_stats_list_con_tableone{width: 100%;border: 1px solid #dcdcdd;}
.redpacket_stats_list_con_tableone .redpacket_stats_list_con_td_t{padding: 0 5px;border-bottom: 1px solid #dcdcdd;text-align:center;height: 45px;line-height: 45px;
background: #FAFAFA;color: #333333;font-weight: normal;font-weight:bold;}
.redpacket_stats_list_con_tableone .redpacket_stats_list_con_td{border-bottom: 1px solid #dcdcdd;text-align:center;height: 50px;line-height: 50px;color: #333333;}
.redpacket_stats_list_con_tableone .redpacket_stats_list_con_td a{color:#4a9ce8;}
.redpacket_stats_list_con_tableone .redpacket_stats_list_con_td a:hover{color:#ff0202;}
.redpacket_stats_list_con_tableone .redpacket_stats_list_con_td span{color:#4a9ce8;font-size:14px;padding-left:10px;}

/*.redpacket_stats_list_con_td_t:first-child{text-align:center;padding:0 30px;}
.redpacket_stats_list_con_td:first-child{text-align:center;padding:0 30px;}
.textalign_cenger:{text-align: center;}*/

.redpacket_stats_list_con_tabletwo{width: 100%;border-bottom: 1px solid #dcdcdd;display:none;}
.redpacket_stats_list_con_tabletwo .redpacket_stats_list_con_td_t{padding: 0 5px;text-align:center;height: 45px;line-height: 45px;
background: #FFF;color: #333333;font-weight: normal;font-weight:bold;border-bottom:none;}
.redpacket_stats_list_con_tabletwo .redpacket_stats_list_con_td{text-align:center;height: 50px;line-height: 50px;color: #333333;border-bottom:none;}

.tables_show{}

.selects_redpacket_con_item:after{content:"";display:block;clear:both;}
.float_lefts{float:left;display:block;}
.float_rights{float:right;padding-bottom:5px;display:block;}
.float_rights .float_rights_span{display:block;height:30px;line-height: 30px;}

.enterprise_redpacket_index_list_tip{width:100%;margin:0 auto;margin-top:15px;}
.enterprise_redpacket_index_list_tip_box{border-radius:5px;background:#23c1fc;height:40px;line-height:40px;padding-left:15px;}
.enterprise_redpacket_index_list_tip_l{background:#FFF;border-radius:50%;color:#23c1fc;display:inline-block;width:23px;height:23px;vertical-align:middle;text-align:center;line-height:25px;font-size:18px;}

.enterprise_redpacket_index_list_tip_r{font-size:16px;color:#FFF;padding-left:8px;}
.enterprise_redpacket_index_list_tip_r a{color:#ffe402;font-size:16px;padding:0 5px;text-decoration:underline;}
.enterprise_redpacket_index_list_tip_r a:hover{color:#ff0202;font-size:16px;padding:0 5px;text-decoration:underline;}

/*
*红包统计 end*
*/











/*
 *弹出框 start*
*/
.enterprise_redpacket_index_pop{min-height:200px;width:700px;margin:40px auto;}
.enterprise_redpacket_index_pop_item{width:100%;margin:25px auto;text-align:left;}
.enterprise_redpacket_index_pop_item_box{width:85%;margin:0 auto;overflow:hidden;white-space:nowrap;}
.enterprise_redpacket_index_pop_item_box span{font-size:16px;color:#5c5c5c;}
.enterprise_redpacket_index_pop_item_l{}
.enterprise_redpacket_index_pop_item_r{}
.enterprise_redpacket_index_pop_item_r input[type=text]{height: 35px;line-height: 35px;width:300px;border: 1px solid #dcdcdd;color: #5c5c5c;vertical-align: middle; padding:0 3px;font-size:16px;}
span.enterprise_redpacket_index_pop_item_tips{color:#ff0202;display:none;}
span.item_tips_reds{display:inline-block;}

.pop_item_r_radio{padding-right:5px;}
.pop_item_r_radio input[type=radio]{width:20px;height:20px;font-size:14px;cursor:pointer;}
.pop_item_r_title{padding-right:50px;}

.pop_item_box{width:100%;max-height:157px;overflow-y:auto;}
.pop_item_class{width:100%;display:none;-moz-user-select: none;}
.classs_show{display:block;}
.pop_item_types{width:85%;margin:10px auto;-moz-user-select: none;}
.pop_item_types span{font-size:16px;color:#5c5c5c;}
.pop_item_types_title{padding:0 5px;}
.pop_item_types_con input{height: 35px;line-height: 35px;border: 1px solid #dcdcdd;color: #5c5c5c;vertical-align: middle; padding:0 3px;font-size:16px;width:300px;}

input.input_width_one{width:179px;}
input.input_width_two{width:171px;}
input.input_width_three{width:100px;}

input.info_borders_red{border: 1px solid #ff0202;color: #ff0202;font-size:14px;}

span.pop_item_types_btn{display:inline-block;border-radius:50%;border:2px solid #4a9ce8;width:32px;height:32px;line-height:32px;text-align:center;color:#4a9ce8;font-size:18px;font-weight:bold;cursor:pointer;-moz-user-select: none;}
span.pop_item_types_btn:hover{color:#ff0202;border:2px solid #ff0202;}
.pop_item_types .type_add_id{display:none}
.pop_item_types:last-child .type_del_id{display:none}
.pop_item_types:last-child .type_add_id{display:inline-block}


.enterprise_redpacket_freeze_pop{min-height:200px;width:500px;margin:40px auto;}
.freeze_pop{width:75%;margin:0 auto;}
.freeze_pop h4{font-size: 15px;font-weight:normal;color:#5c5c5c;height:32px;line-height:32px;}
.freeze_pop h4 span{font-size: 15px;font-weight:normal;color:#4a9ce8;height:32px;line-height:32px;}
.freeze_pop p{font-size: 15px;font-weight:normal;color:#5c5c5c;height:32px;line-height:32px;}

.unfreeze_pop{width:75%;margin:0 auto;text-align: center;}
.unfreeze_pop p{text-align:center;padding-top:40px;font-size: 15px;font-weight:normal;color:#5c5c5c;height:32px;line-height:32px;}
.unfreeze_pop p span{font-size: 15px;font-weight:normal;color:#4a9ce8;height:32px;line-height:32px;}



.activity_redpackets_pop{min-height:200px;width:600px;margin:40px auto;}
.activity_redpackets_pop_title{width:90%;margin:0 auto;text-align:center;}
.activity_redpackets_pop_title_box{width:70%;margin:0 auto;overflow:hidden;white-space:nowrap;}
.activity_redpackets_pop_title_l{font-size:18px;color:#5c5c5c;font-weight:bold;}
.activity_redpackets_pop_title_r{font-size:18px;color:#5c5c5c;font-weight:bold;}

.activity_redpackets_pop_item{width:90%;margin:20px auto;text-align:left;}
.activity_redpackets_pop_item_box{width:70%;margin:0 auto;overflow:hidden;white-space:nowrap;}
.activity_redpackets_pop_item_box span{font-size:16px;color:#5c5c5c;}

.activity_redpackets_pop_item_box_input input[type=text]{height: 35px;line-height: 35px;width:180px;border: 1px solid #dcdcdd;color: #5c5c5c;vertical-align: middle; padding:0 3px;font-size:16px;}
span.activity_redpackets_pop_item_box_tips{color:#ff0202;display:none;}
span.activity_redpackets_pop_item_tipss{color:#ff0202;font-size:14px;}





/*
 *弹出框 start*
*/
