body{ background: #e7e8eb; position: relative;}
 a{outline:none;}
.content{background: #fff;margin-bottom: 30px;border-bottom:1px solid #dcdcdd;border-right:1px solid #dcdcdd;}
.content_right_border{padding-left: 120px;}
.money{display:inline-block;height:70px;line-height:70px;padding-left:40px;}
.account_balance{width:524px;height:70px;border:1px solid #dcdcdd;}
.withdraw_account{width:524px;border:1px solid #dcdcdd;}
.withdraw_div{height:70px;line-height:70px;padding-right:18px;}
.withdraw_a{height:14px;margin-top:28px;padding-right:14px;border-right:1px solid #dcdcdd;}
.account_balance_vertical{height:72px;line-height:72px;margin-right:24px;}
.recharge{width:240px;height:70px;margin-left:14px;}
.recharge a,.change_account a{margin-top:20px;height:28px;line-height:28px;display:inline-block;padding-left:16px;padding-right: 16px;background: #fb6d6d;border:1px solid #ff0202;border-radius:3px;color:#fff;}
.withdraw_account{}
.withdraw_account_table{display: table;margin-top:20px;margin-bottom:20px;margin-left:40px;}
.withdraw_account_row{display: table-row;}
.withdraw_account_cell{display: table-cell;padding:8px 17px;}
.change_account{}
.zhezhao{width:100%;height:100%;position: absolute;top:0;left:0;background: #000;z-index:10000;opacity: 0.5;}
.zz_con{width:100%;height:100%;position:absolute;top:0;left:0;z-index:10001;}
.pop_layer_bind_account{margin:0 auto auto auto;width:766px;min-height:100px;background: #fff;border-radius:3px;}
.pop_layer_top{height:45px;line-height: 45px;padding-left:24px;background: #f4f5f9;border-radius: 3px;}
.title{font-size: 16px;}
.withdraw_yue{margin-left:30px;}
.bind_account_table{display: table;}
.bind_account_row{display: table-row;height:62px;line-height: 36px;}
.bind_account_cell_title{display: table-cell;width:200px;padding-right:17px;text-align: right;}
.bind_account_cell_title_withdraw{display: table-cell;width:225px;padding-right:4px;text-align: right;}
.bind_account_cell_text{display: table-cell;height:38px;}
.bind_account_cell_text a{outline: none; text-decoration: none;}
.select_style{width:282px;height:36px;  border:1px solid #dcdcdd;background:url(../../resources/images/arrow.png) no-repeat center right; }
.select_style select {width:282px;height:36px;padding:5px; background:transparent;font-size: 16px;border:none; 
	-moz-appearance: none; -webkit-appearance: none; /*for Webkit browsers*/ }   
.text_style input{width:272px;padding-left:10px;height:36px;border:1px solid #dcdcdd; outline: none;}
.withdraw_money{width:262px;height:36px;}
.withdraw_money input{width:230px;padding-left:10px;height:36px;border:1px solid #dcdcdd; outline: none;}
.check_code_text{width:151px;padding-left:10px;height:36px; border:1px solid #dcdcdd;}
.check_code_a{width:100px;margin-left:18px;height:36px;line-height:36px;display: inline-block; border:1px solid #dcdcdd;text-align: center;background: url(../../resources/images/my_account/check_code_bg.png);}
.pop_layer_bottom{height:60px;border-radius: 3px;padding-top:15px;background: #f4f5f9;text-align: center;margin-top:30px;}
.pop_layer_bottom a{color:#fff; text-decoration: none;}
.sure_a{width:118px;height:36px;line-height:36px;background: #fe0000;display:block;margin:auto;border-radius: 3px; text-align: center;}
.account_tip{width:210px;margin-left:22px;border:1px solid #dcdcdd; background: #e4f5ff;border-radius: 2px;line-height: 25px;font-size: 12px;padding:10px;}
.p_3{color:#c4495b;}
.recharge_nav{width:674px;height:40px;line-height:40px;border:1px solid  #e1eaf1;border-bottom:1px solid #e1eaf1;border-right:1px solid #e1eaf1;margin:0 auto;text-align: center;}
.recharge_nav_one{width:120px;height:39px;border-top:2px solid #fe0000;margin-top:-1px;line-height:40px;background:#f5f9ff;color:#666666;}
/*.recharge_nav_one:hover{border-top:2px solid #fe0000;background: #fff;color:#000;height:39px;line-height:39px;}*/
.recharge_nav_one_click{border-top:2px solid #fe0000;background: #fff;color:#000;height:39px;line-height:39px;}
.recharge_nav_one_end{width:310px;height:40px;border-left:1px solid #e1eaf1;}
.two_dimensional_code{text-align: center;padding-top:30px;}
.two_dimensional_code img {margin:0 auto;}