html,body,div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, 
pre, form, fieldset, input, textarea, p, blockquote, th, td { 
    padding: 0;
    margin: 0;
}
html,body{ min-height:100%;}
body{ background:#f3f3f3; font-family:Microsoft YaHei; font-size:14px;}
.clear{ clear:both;}
select{ padding:0;}
.float_left{display:block;float:left;}
.float_right{display:block;float:right;}



/*订单管理 start*/
.order_management{ width:100%; margin:0 auto; margin-bottom: 60px;}
.order_management_search{ width:100%;}
.order_management_search_table{ width:100%; margin-top:20px;    font-family: Microsoft YaHei;color: #5a5a5a;}
.order_management_search_table td{  color:#5c5c5c;}
.order_management_search_td{width:32%;padding-right:5%;height:35px; line-height:35px;}
.order_management_search_td_t{ width:9%; text-align:right; padding-right:10px; font-size:14px; color:#5c5c5c;height:35px; line-height:35px;}
a.order_management_search_td_a{ padding:0 8px;}
a.order_management_search_td_a:hover{ color:#ff0202;}
a.order_management_search_td_a_select{ color:#ff0202; padding:0 8px;}
a.order_management_search_td_btn{ color:#FFF; background:#ff0202; display:inline-block; width:100px; text-align:center; border-radius:5px;    float: right;}
a.order_management_search_td_btn:hover{ background:#e50606;color:#FFF;}
.order_management_search_td select{ height:35px; line-height:35px; width:100%; border:1px solid #dcdcdd; color:#5c5c5c; text-align:center; vertical-align:middle; padding:0; }
.order_management_search_td input[type=text]{ height:35px; line-height:35px; width:100%; border:1px solid #dcdcdd; color:#5c5c5c; text-align:left;}
.order_management_search_td input[type=date]{ height:35px; line-height:35px; width:45%; border:1px solid #dcdcdd; color:#5c5c5c; text-align:left;}
.order_management_search_td_line{ display:inline-block; width:8%; text-align:center;}
.order_management_search_td select option{color:#5c5c5c; text-align:center;}

.order_management_search_nav{ width:100%; margin-top:40px; margin-bottom:25px;}
.order_management_search_nav ul{ width:100%; margin:0 auto; border-bottom:1px solid #dcdcdd;}
.order_management_search_li{ float:left; width:13%;}
.order_management_search_nav_a{ display:block; height:33px; text-align:center;  line-height:33px; font-size:14px; color:#5c5c5c;}
.order_management_search_nav_a:hover{border-bottom:2px solid #ff0202; color:#ff0202; margin-bottom:-1px; background:url(../../resources/images/order_management/jiao.png) center bottom no-repeat;}
.order_management_search_nav_a_select{ border-bottom:2px solid #ff0202; color:#ff0202; margin-bottom:-1px; background:url(../../resources/images/order_management/jiao.png) center bottom no-repeat;}
a.order_management_search_nav_a_select{ color:#ff0202;}
.search_nav_span{ color:#ff0202;}

.order_management_con{ width:100%; margin:0 auto;}
.order_management_con_table{ width:100%; border:1px solid #dcdcdd;}
.order_management_con_td_t{ padding:0 5px;border-right:1px solid #dcdcdd; border-bottom:1px solid #dcdcdd;text-align:center; height:45px; line-height:45px;background: #FAFAFA; color:#828282;}
.order_management_con_td{border-right:1px solid #dcdcdd; border-bottom:1px solid #dcdcdd; text-align:center; height:35px; line-height:35px; color:#7C7C7C;font-size:14px;}
a.order_management_con_td_a,order_management_con_td_a:link,order_management_con_td_a:visited{ color:#7C7C7C;}
a.order_management_con_td_a_s,order_management_con_td_a_s:link,order_management_con_td_a_s:visited{ color:#6CABEA;}

.order_management_con_td .sub_font{color:#ff0202;font-size:10px;}


/*订单管理 end*/

/*订单详情 start*/
.order_management_details_title{ width:100%; margin:18px auto;}
.order_management_details_title span{ font-size:15px; font-weight:bold; color:#292929;}

.order_management_details_con{ width:100%; margin:0 auto;}
.order_management_details_con_table{ width:100%; border:1px solid #DCF3FF;}
.order_management_details_con_td_t{ padding:0 5px;border-right:1px solid #DCF3FF; border-bottom:1px solid #DCF3FF;text-align:center; height:45px; line-height:45px;background:#EAF8FF;color:#4B4F50;}
.order_management_details_con_td{border-right:1px solid #DCF3FF; border-bottom:1px solid #DCF3FF; text-align:center; color:#585858; vertical-align:top; line-height:25px; padding:5px 0;}
.order_management_details_con_tdImg{border-right:1px solid #DCF3FF; border-bottom:1px solid #DCF3FF; text-align:center; color:#585858; padding:5px 0 0 0;}

.order_management_details_con_td_span{ width:110px; height:110px; display:table-cell; vertical-align:middle; text-align:center;}
.order_management_details_con_td_span img{ max-height:100px; max-width:100px;}

.order_management_details_con_item{ padding:20px; border-bottom:1px dashed #E5E5E6;}
.order_item_title{ font-size:15px; font-weight:bold; color:#333333;}
.order_item_title_span{ font-size:14px; font-weight:normal; color:#333333;}
.order_item_con{ width:100%; margin:5px 0;}
.order_item_con_left{ display:inline-block; width:38%; margin:5px 0;}
.order_item_con_t{ color:#333333; width:80px; display:inline-block;}
.order_item_con_c{ color:#333333;}
.order_item_con_c_bluee{color:#4a9ce8;}
.order_item_con_c_bluee em{font-style:normal;color:#333333;}
.order_item_con_r_edit{padding-left:10px;color:#4a9ce8;}
.order_item_con_r_edit a{color:#4a9ce8;}


.order_item_con_right{display:inline-block; width:58%; margin:5px 0;}
.height_box{ width:100%; height:15px;}

.order_item_express_mail{ width:100%; margin:5px 0;}
.order_item_express_mail_left{ display:inline-block; width:35%; margin:10px 0;}
.order_item_express_mail_t{ color:#333333; width:80px; display:inline-block;}
.order_item_express_mail_c{ color:#333333; display:inline-block; width:200px;}
.order_item_express_mail_c input[type=text]{ border:1px solid #E5E5E6; height:35px; width:100%; padding:0 5px;}
.order_item_express_mail_right{display:inline-block; width:15%; margin:10px 0;vertical-align: middle;}
.order_item_express_mail_right a{ display:block; width:95px; height:35px; background:#FF0202; border-radius:5px; color:#FFF; text-align:center; line-height:35px;}
.order_item_express_mail_right a:hover{ background:#E00404; color:#FFF;}

.order_item_con_width{ width:660px; display:inline-block; min-height:50px;}
.order_item_con_width textarea{ width:95%; margin:0 auto; min-height:150px; padding:0 5px;border:1px solid #E5E5E6; line-height:28px; font-size:14px; color:#333333;}
.order_item_btn{ width:100%; margin:20px auto; text-align:center;}
.order_item_btn a{display: inline-block; width:95px; height:35px; background:#FF0202; border-radius:5px; color:#FFF; text-align:center; line-height:35px;}
.order_item_btn a:hover{ background:#E00404; color:#FFF;}

.order_item_con_c input[type=radio]{ width:16px; height:16px;}
.order_item_con_c_font{ padding-left:10px;}
.order_item_con_c_left{ padding-left:40px;}

.order_item_con_left_tee{width:70%;}
.order_item_con_left_tee .order_item_con_c span{margin-left:30px;}
.order_item_con_left_tee .order_item_con_c span input[type=radio]{width:20px;height:20px;margin:0 5px;}

.order_item_express_mail_left_widths{width:100%;}
.order_item_express_mail_left_widths .order_item_express_mail_c{width:627px;}

/*订单详情 end*/





.footer{ font-size:12px;text-align:center;width:100%;padding-top:26px;height:52px;background:#0d0d0d;color:#868686;}