html,body,div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, 
pre, form, fieldset, input, textarea, p, blockquote, th, td { 
    padding: 0;
    margin: 0;
}
body{ background:#f3f3f3; font-family:Microsoft YaHei; font-size:14px;}
select{ padding:0;}
.float_left{display:block;float:left;}
.float_right{display:block;float:right;}

.clear{ clear:both;}
.top{background:#fff;height:82px;border-bottom:4px solid #000;}
.logo{width:1200px;padding-top:25px;margin:0 auto;}
.register_content{width:1200px;margin:20px auto 0 auto; position:relative;}
.nav{width:1200px;height:46px;background:#fff;}
.nav_first{width:289px;height:44px; background:url(../../resources/images/register_step_bg.png);font-size:14px;line-height:44px;text-align:center;color:#FFF;border-top:1px solid #ff0202;border-bottom:1px solid #ff0202;border-right:1px solid #ff0202;}
.nav_second{width:289px;height:44px;line-height:44px;background:#fbfcfd; border-top:1px solid #dcdcdd;border-bottom:1px solid #dcdcdd;font-size:14px;text-align:center;}
.change_second_bg{width:14px;height:44px;background:url(../../resources/images/register_selected_bg.png);border-top:1px solid #dcdcdd;border-bottom:1px solid #dcdcdd;}
.change_third_bg{width:15px;height:44px;background:url(../../resources/images/register_normal.png);border-top:1px solid #dcdcdd;border-bottom:1px solid #dcdcdd;}
.change_third_b{width:15px;height:44px;background:url(../../resources/images/register_selected_b.png);border-top:1px solid #FF0202;border-bottom:1px solid #FF0202;}
.nav_third{width:287px;height:44px;line-height:44px;font-size:14px;text-align:center;background:#fbfcfd; border-top:1px solid #dcdcdd;border-bottom:1px solid #dcdcdd;border-right:1px solid #dcdcdd;}
sup{font-size: 16px;
    vertical-align: middle;
    color: #F00;
    padding-right: 5px;}
.nav_step_box{width:1200px; height:100%; }
.nav_step_box_one{ background:url(../../resources/images/perfect_information/step1.png) no-repeat right center;}
.nav_step_box_two{ background:url(../../resources/images/perfect_information/step2.png) no-repeat left center; border-right:1px solid #dcdcdd;}
.nav_step_box_three{ background:url(../../resources/images/perfect_information/step3.png) no-repeat left center;border-right:1px solid #dcdcdd;}
.nav_step_box_four{ background:url(../../resources/images/perfect_information/step4.png) no-repeat left center;}
.nav_step_box_font{font-size: 14px; display:inline-block; width:33%; text-align:center; line-height:46px;}
.nav_step_box_font_color{ color:#FFF;}


.perfect_information{ width:1198px; background:#FFF; border:1px solid #dcdcdd;border-top: none; min-height:300px;}
.perfect_information_box{ padding-left:140px; width:1058px;}
/*first of perfect_information  start*/
.perfect_information_first{ min-height:300px; width:100%; padding:20px 0;}
.perfect_information_first_item{ width:95%; overflow:hidden; margin:20px 0;}
.item_title{ float:left; width:11%; text-align:right; height:40px; line-height:40px; color:#5c5c5c; font-size:14px;font-family:Microsoft YaHei;}
.item_con{float:left; padding-left:10px;}
.item_tips{ float:left;padding-left:10px;height:40px; line-height:40px; color:#c4495b; font-size:14px; max-width:300px; overflow:hidden;}
.item_tips_b{ float:left;padding-left:10px;height:40px; line-height:40px; color:#c4495b; font-size:14px; max-width:300px; overflow:hidden;}

.merchant_name{ width:350px; height:40px; line-height:40px;}
.merchant_name_span{border:1px solid #dcdcdd; width:100%; display:inline-block; height:38px; line-height:38px; text-align:center; }
.merchant_name_input{ border:none;height:35px; line-height:38px; width:95%;color:#5c5c5c; font-size:14px;}

.owned_industry{ width:350px; height:45px; line-height:40px;}
.item_con_select{border:1px solid #dcdcdd; width:169px;height:38px; line-height:38px; display:inline-block;}
.item_con_select select{ border:none; width:100%;height:34px; line-height:38px; color:#5c5c5c; font-size:14px;font-family:Microsoft YaHei;}


.business_address{width:706px;}
.business_address_margin_left{ margin-right:3px;}
.business_address_input{border:1px solid #dcdcdd; width:350px; height:38px; line-height:38px;text-align:center; overflow:hidden; display:inline-block; margin-top:15px;}
.business_address_input_text{border:none;height:38px; line-height:38px; width:95%;color:#5c5c5c; font-size:14px;font-family:Microsoft YaHei;}

.precise_position{ width:706px;}
.precise_position_box{ width:100%;height:300px;border:1px solid #dcdcdd;}

.contact_number{ width:600px; height:45px; line-height:40px;}
.contact_number_area{height:38px; line-height:38px;border:1px solid #dcdcdd; display:inline-block;text-align:center;    width: 100px; }
.contact_number_area_input{color:#5c5c5c; font-size:14px;font-family:Microsoft YaHei; border:none; width:95%; height:34px; line-height:34px;}
.contact_number_font{color:#5c5c5c; font-size:14px;font-family:Microsoft YaHei;display:inline-block;text-align:center;width: 30px;height:38px; line-height:38px;}
.contact_number_landline{height:38px; line-height:38px;border:1px solid #dcdcdd;display:inline-block;text-align:center;width: 200px;}
.contact_number_landline_input{color:#5c5c5c; font-size:14px;font-family:Microsoft YaHei; border:none;width:95%; height:34px; line-height:34px;}
.contact_number_cellphone{height:38px; line-height:38px;border:1px solid #dcdcdd;display:inline-block;text-align:center;width: 200px; }
.contact_number_cellphone_input{color:#5c5c5c; font-size:14px;font-family:Microsoft YaHei; border:none;width:95%;height:34px; line-height:34px;}

.business_logo_img{ width:200px; height:120px;}
.business_logo_img_box{ width:100%; height:100%; position:relative;}
.business_logo_img_b{ width:100%; height:100%; position:relative;}
.business_logo_img_b img{ width:100%; height:100%;}
.business_logo_img_top{ display:block; width:200px; height:120px; position:absolute; text-align:center; z-index:99; top:0; left:0; overflow:hidden;}

.business_logo_img_top_img{ display:inline-block; background: url(../../resources/images/perfect_information/add_img.png) no-repeat center center; padding:20px; margin-top:25px;}
.business_logo_img_top_font{ display:block; text-align:center; color:#6488ba;}

.business_logo_img_input{width:200px; height:120px; position:absolute; text-align:center; z-index:100; top:0; left:0; overflow:hidden;}
.business_logo_img_input_f{width:200px; height:120px; background:none; border:none; font-size:100px; opacity:0; filter:alpha(opacity=0);}
.business_logo_img_tips{ height:auto; line-height:24px; color:#c4495b; font-size:12px;font-family:Microsoft YaHei; margin-left:20px;}
.business_logo_img_tips_b{ height:auto; line-height:24px; color:#c4495b; font-size:12px;font-family:Microsoft YaHei; margin-left:20px;}
.business_logo_img_tips_a{height:auto; line-height:24px; color:#c4495b; font-size:12px;font-family:Microsoft YaHei;width: 69%; padding-left: 12%; max-width:69%;}

.algin_left{ text-align:left; height:auto; line-height:20px;}
.sample_font{ color:#5c5c5c;margin-left:20px;}

.business_abstract{ width:706px;}
.business_abstract_span{ border:1px solid #dcdcdd;width:100%; display:inline-block;line-height:32px;overflow:hidden; text-align:center;}
.business_abstract_span textarea{ border:none; width:97%; height:160px;    color: #5c5c5c; font-size: 14px;font-family: Microsoft YaHei;line-height:30px;}

.business_hours{width:706px;}
.business_hours_line{ width:100%; height:40px; line-height:40px; overflow:hidden; margin-bottom:20px;}
.business_hours_line_font{color: #5c5c5c; font-size: 14px;font-family: Microsoft YaHei; padding:0 10px;}
.business_hours_line_time{ width:150px;border:1px solid #dcdcdd;display:inline-block; height:38px; line-height:38px; text-align:center;}
.business_hours_line_time select{ border:none;color: #5c5c5c;font-size: 14px;font-family: Microsoft YaHei;height:34px; line-height:38px; width:90%;}
.business_hours_line_time input{ border:none;color: #5c5c5c;font-size: 14px;font-family: Microsoft YaHei;height:34px; line-height:38px; width:90%;}
.business_hours_line_close{color: #5c5c5c;font-size: 14px;font-family: Microsoft YaHei;height:36px; line-height:38px; display:inline-block; width:80px; padding:0 51px;}
.business_hours_line_close input[type=checkbox]{ width:25px; height:18px;}
.business_hours_line_close font{color: #5c5c5c;font-size: 14px;font-family: Microsoft YaHei; padding-left:6px;}

.business_hours_line_btn{ width:100px; height:40px; line-height:40px;}
a.business_hours_line_btn_a{ display:inline-block; text-decoration:none; border:1px solid #ff0202; height:38px; line-height:38px; width:98px; background:#fb6d6d; color:#FFF;font-size: 14px;font-family: Microsoft YaHei; text-align:center; border-radius:3px;}

.consumption{ width:600px; height:40px; line-height:40px;}
.consumption_span{ width:40%;}


/*first of perfect_information  end*/

/*second of perfect_information  start*/
.perfect_information_second{min-height:300px; width:100%; padding:20px 0;margin-left: 40px;}



.vm_box {
	display: inline-block;
	height: 100%;
	vertical-align: middle
}
.goods_desc {
	width: 74%;
	padding: 15px;
	margin-top: 10px;
	border: 1px solid #e7e7eb;
	min-height: 400px
}
.goods_desc .create_access a {
	display: none;
	width: 65px;
	margin: 10px 20px 0;
	line-height: 30px;
	vertical-align: middle
}
.goods_desc .create_access a:hover .icon_add_pic {
	background: url("../../resources/images/perfect_information/shop_create_z218878.png") 0 -48px no-repeat
}
.goods_desc .create_access a:hover .icon_add_txt {
	background: url("../../resources/images/perfect_information/shop_create_z218878.png") 0 -96px no-repeat
}
.goods_desc .create_access strong {
	display: block;
	font-weight: normal;
	margin-top: -5px
}
.goods_desc .create_access:hover a {
	display: inline-block;
*display:inline;
*zoom:1
}
.goods_desc .icon_add_pic {
	background: url("../../resources/images/perfect_information/shop_create_z218878.png") 0 -144px no-repeat;
	width: 38px;
	height: 38px;
	vertical-align: middle;
	display: inline-block
}
.goods_desc .icon_add_txt {
	background: url("../../resources/images/perfect_information/shop_create_z218878.png") 0 -192px no-repeat;
	width: 38px;
	height: 38px;
	vertical-align: middle;
	display: inline-block
}
.goods_desc .edit_wrp {
	position: relative;
	margin: 5px 0;
	line-height: 24px;
*zoom:1
}
.goods_desc .edit_wrp p {
	padding: 5px 0;
	text-align:left;
	 color:#5c5c5c; font-size:14px;
}
.goods_desc .edit_wrp .edit_mask {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(229,229,229,0.85)!important;
filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#d9e5e5e5', endcolorstr = '#d9e5e5e5');
	text-align: center;
	display: none;
	top: 0;
	left: 0
}
.goods_desc .edit_wrp .edit_mask a {
	margin: 5px 15px
}
.goods_desc .edit_wrp .edit_mask .down_gray {
	background: url("../../resources/images/perfect_information/shop_create_z218878.png") 0 -240px no-repeat;
	width: 18px;
	height: 18px;
	vertical-align: middle;
	display: inline-block
}
.goods_desc .edit_wrp .edit_mask .down_gray:hover {
	background: url("../../resources/images/perfect_information/shop_create_z218878.png") 0 -268px no-repeat
}
.goods_desc .edit_wrp .edit_mask .up_gray {
	background: url("../../resources/images/perfect_information/shop_create_z218878.png") 0 -296px no-repeat;
	width: 18px;
	height: 18px;
	vertical-align: middle;
	display: inline-block
}
.goods_desc .edit_wrp .edit_mask .up_gray:hover {
	background: url("../../resources/images/perfect_information/shop_create_z218878.png") 0 -324px no-repeat
}
.goods_desc .edit_wrp:hover .edit_mask {
	display: block
}
.goods_desc .edit_wrp .vm_box {
	width: 0;
	height: 100%;
	vertical-align: middle
}
.goods_desc .edit_wrp img {
	width: 100%;
	display: block
}
.goods_desc .goods_desc_content .edit_wrp:first-child .up_gray {
	display: none
}
.goods_desc .goods_desc_content .edit_wrp:last-child .down_gray {
	display: none
}
.icon36_common {
	width: 36px;
	height: 36px;
	vertical-align: middle;
	display: inline-block;
	margin-top: 20px;
}
.icon36_common.add_gray {
	background: url("../../resources/images/perfect_information/base_z2968da.png") 0 -2904px no-repeat
}
.create_access {
	display: block;
	border: 2px dotted #d9dadc;
	height:80px;
	line-height: 80px;
	text-align: center;
	margin-bottom: 20px
}
.create_access i {
	cursor: pointer;
	line-height: 300px;
	overflow: hidden
}
.create_access a {
	display: none;
	vertical-align: middle;
	margin-left: 10px;
	margin-right: 10px;
	color: #8d8d8d;
	font-size: 14px;
	line-height: normal
}
.create_access a strong {
	display: block;
	padding-top: 3px;
	font-weight: 400;
	font-style: normal
}
.create_access:hover {
	border-color: #b3b3b3
}
.create_access:hover .add_gray {
	display: none
}
.create_access:hover a {
	display: inline-block
}
.create_access_square_wrp {
	display: inline-block;
	width: 100px;
	height: 100px
}
.create_access_square_wrp .create_access_primary {
	line-height: 96px
}
.create_access_primary {
	display: block;
	border: 2px dotted #d9dadc;
	line-height: 60px;
	font-size: 0;
	text-align: center;
	margin-bottom: 20px
}
.create_access_primary i {
	cursor: pointer;
	line-height: 300px;
	overflow: hidden
}
.create_access_primary:hover {
	border-color: #b3b3b3
}
.create_access_primary:hover .icon20_common {
	background: url("../../resources/images/perfect_information/base_z2968da.png") 0 -2950px no-repeat
}
.create_access_primary:hover .icon35_common {
	background: url("../../resources/images/perfect_information/base_z2968da.png") 0 -2980px no-repeat
}
.create_access_primary:hover .icon36_common {
	background: url("../../resources/images/perfect_information/base_z2968da.png") 0 -3025px no-repeat
}
.create_access_primary:hover .icon42_common {
	background: url("../../resources/images/perfect_information/base_z2968da.png") 0 -3071px no-repeat
}
.frm_tips{ text-align:left;color:#c4495b; font-size:14px; margin:20px 0 30px 0;}

.icon18_common {
	width: 18px;
	height: 18px;
	vertical-align: middle;
	display: inline-block;
	line-height: 100px;
	overflow: hidden
}
.icon18_common {
	width: 18px;
	height: 18px;
	vertical-align: middle;
	display: inline-block;
	line-height: 100px;
	overflow: hidden
}
.icon18_common.woman_orange {
	background: url("../../resources/images/perfect_information/base_z2968da.png") 0 -4522px no-repeat
}
.icon18_common.man_blue {
	background: url("../../resources/images/perfect_information/base_z2968da.png") 0 -4550px no-repeat
}
.icon18_common.error {
	background: url("../../resources/images/perfect_information/base_z2968da.png") 0 -4578px no-repeat
}
.icon18_common.add_blue {
	background: url("../../resources/images/perfect_information/base_z2968da.png") 0 -4606px no-repeat
}
.selected .icon18_common.add_blue {
	background: url("../../resources/images/perfect_information/base_z2968da.png") 0 -4634px no-repeat
}
.icon18_common.add_white {
	background: url("../../resources/images/perfect_information/base_z2968da.png") 0 -4662px no-repeat
}
.icon18_common.del_blue {
	background: url("../../resources/images/perfect_information/base_z2968da.png") 0 -4690px no-repeat
}
.icon18_common.del_blue:hover {
	background: url("../../resources/images/perfect_information/base_z2968da.png") 0 -4718px no-repeat
}
.icon18_common.del_gray {
	background: url("../../resources/images/perfect_information/base_z2968da.png") 0 -4746px no-repeat
}
a:hover .icon18_common.del_gray, .icon18_common.del_gray:hover {
	background: url("../../resources/images/perfect_information/base_z2968da.png") 0 -4774px no-repeat
}
.icon18_common.link_gray {
	background: url("../../resources/images/perfect_information/base_z2968da.png") 0 -4802px no-repeat
}
.icon18_common.link_gray:hover, .hover .icon18_common.link_gray, a:hover .icon18_common.link_gray {
	background: url("../../resources/images/perfect_information/base_z2968da.png") 0 -4830px no-repeat
}
.icon18_common.download_blue {
	background: url("../../resources/images/perfect_information/base_z2968da.png") 0 -4858px no-repeat
}
.icon18_common.download_blue:hover {
	background: url("../../resources/images/perfect_information/base_z2968da.png") 0 -4886px no-repeat
}
.icon18_common.upload_gray {
	background: url("../../resources/images/perfect_information/base_z2968da.png") 0 -4914px no-repeat
}
.icon18_common.upload_gray:hover {
	background: url("../../resources/images/perfect_information/base_z2968da.png") 0 -4942px no-repeat
}
.icon18_common.download_simple_gray {
	background: url("../../resources/images/perfect_information/base_z2968da.png") 0 -4970px no-repeat
}
.icon18_common.download_simple_gray:hover, a:hover .icon18_common.download_simple_gray {
	background: url("../../resources/images/perfect_information/base_z2968da.png") 0 -4998px no-repeat
}
.icon18_common.download_gray {
	background: url("../../resources/images/perfect_information/base_z2968da.png") 0 -5026px no-repeat
}
.icon18_common.download_gray:hover, a:hover .icon18_common.download_gray {
	background: url("../../resources/images/perfect_information/base_z2968da.png") 0 -5054px no-repeat
}
.icon18_common.move_gray {
	background: url("../../resources/images/perfect_information/base_z2968da.png") 0 -5082px no-repeat
}
.icon18_common.move_gray:hover, a:hover .icon18_common.move_gray {
	background: url("../../resources/images/perfect_information/base_z2968da.png") 0 -5110px no-repeat
}
.icon18_common.reply_gray {
	background: url("../../resources/images/perfect_information/base_z2968da.png") 0 -5138px no-repeat
}
.icon18_common.reply_gray:hover {
	background: url("../../resources/images/perfect_information/base_z2968da.png") 0 -5166px no-repeat
}
.icon18_common.star_gray {
	background: url("../../resources/images/perfect_information/base_z2968da.png") 0 -5194px no-repeat
}
.icon18_common.star_gray:hover {
	background: url("../../resources/images/perfect_information/base_z2968da.png") 0 -5222px no-repeat
}
.icon18_common.save_gray {
	background: url("../../resources/images/perfect_information/base_z2968da.png") 0 -5250px no-repeat
}
.icon18_common.save_gray:hover {
	background: url("../../resources/images/perfect_information/base_z2968da.png") 0 -5278px no-repeat
}
.icon18_common.edit_blue {
	background: url("../../resources/images/perfect_information/base_z2968da.png") 0 -5306px no-repeat
}
.icon18_common.edit_blue:hover {
	background: url("../../resources/images/perfect_information/base_z2968da.png") 0 -5334px no-repeat
}
.selected .icon18_common.edit_blue {
	background: url("../../resources/images/perfect_information/base_z2968da.png") 0 -5362px no-repeat
}
.icon18_common.zoomout_gray {
	background: url("../../resources/images/perfect_information/base_z2968da.png") 0 -5390px no-repeat
}
.icon18_common.zoomout_gray:hover, a:hover .icon18_common.zoomout_gray {
	background: url("../../resources/images/perfect_information/base_z2968da.png") 0 -5418px no-repeat
}
.icon18_common.edit_gray {
	background: url("../../resources/images/perfect_information/base_z2968da.png") 0 -5446px no-repeat
}
.icon18_common.edit_gray:hover, a:hover .icon18_common.edit_gray {
	background: url("../../resources/images/perfect_information/base_z2968da.png") 0 -5474px no-repeat
}
.icon18_common.star_orange {
	background: url("../../resources/images/perfect_information/base_z2968da.png") 0 -5502px no-repeat
}
.icon18_common.save_blue {
	background: url("../../resources/images/perfect_information/base_z2968da.png") 0 -5530px no-repeat
}
.icon18_common.save_blue:hover {
	background: url("../../resources/images/perfect_information/base_z2968da.png") 0 -5558px no-repeat
}
.icon18_common.qrcode_gray {
	background: url("../../resources/images/perfect_information/base_z2968da.png") 0 -5586px no-repeat
}
.icon18_common.qrcode_gray:hover, a:hover .icon18_common.qrcode_gray {
	background: url("../../resources/images/perfect_information/base_z2968da.png") 0 -5614px no-repeat
}
.goods_desc_t_title{width: 80%;text-align: left; color:#5c5c5c; font-size:14px; margin:15px 0;}




/*second of perfect_information  end*/

/*third of perfect_information  start*/
.verification_code{border: 1px solid #dcdcdd;width:200px;height:36px;line-height: 38px;display: inline-block; text-align:center; vertical-align:middle;}
.verification_code_input{ border:none; width:95%;color: #5c5c5c;font-size: 14px;font-family: Microsoft YaHei; height:32px; line-height:32px;}
.verification_code_b{ width:120px;margin-left: 20px; height:35px; line-height:38px;}
a.verification_code_b_a{color: #5c5c5c;font-size: 14px;font-family: Microsoft YaHei; background:url(../../resources/images/collect_bg.png) repeat-x center center; display:block;}

.ID_coad_font{color: #5c5c5c;font-size: 12px;font-family: Microsoft YaHei;    height: auto; line-height: 24px;}

.User_agreement{ width:706px;height:36px;line-height: 38px; margin-top:30px;}
.User_agreement_l{ width:30px; line-height:36px; text-align:center;}
.User_agreement_l_input{ width:15px; height:15px;}
.User_agreement_font{color: #5c5c5c;font-size: 14px;font-family: Microsoft YaHei;}
a.User_agreement_font_a{color:#29B4F0;font-size: 14px;font-family: Microsoft YaHei;}

/*third of perfect_information  end*/

/*fourth of perfect_information  start*/
.perfect_information_fourth{min-height:300px; width:100%; padding:20px 0;}
.perfect_information_fourth_box{ width:100%; text-align:center;    margin-top: 30px;margin-left: -70px;}
.perfect_information_fourth_l{ display:inline-block;vertical-align: top;}
.perfect_information_fourth_l img{ width:54px; height:54px;}
.perfect_information_fourth_r{ display:inline-block; text-align:left;}
.perfect_information_fourth_title{color:#464649;font-size:18px;font-family: Microsoft YaHei; font-weight:bold; height:50px; line-height:50px;}
.perfect_information_fourth_font{color:#686868;font-size: 14px;font-family: Microsoft YaHei;height:40px; line-height:40px;}





/*fourth of perfect_information  end*/


/*底部按钮 start*/
.perfect_information_button{ width:100%; text-align:center; margin:20px 0 60px 0;}
a.perfect_information_button_next{ display:inline-block; width:250px; height:40px; line-height:40px; background:#FF0202; color:#FFF;font-size: 16px;font-family: Microsoft YaHei; border-radius:5px; margin-right:20px;border:1px solid #ff0202; text-decoration:none;}
a.perfect_information_button_next:hover{ background:#e50606;}
a.perfect_information_button_last{ display:inline-block; width:250px; height:40px; line-height:40px; background:#FFF; color:#ff0202;font-size: 16px;font-family: Microsoft YaHei; border-radius:5px; margin-right:20px; border:1px solid #ff0202; text-decoration:none;}

/*底部按钮 end*/

.footer{ margin-top:30px;font-size:12px;text-align:center;width:100%;padding-top:26px;height:52px;background:#0d0d0d;color:#868686;}