@charset "utf-8";

.border{border:1px solid #000;}
a{color:#000;}
a:hover,a:active{color:red;text-decoration:none;}
.float_left{float:left;}
/*最顶端欢迎栏目 start*/
.full_screen_width{width:100%;height:40px;background:#fff;text-align:center;background:#fafafa;}
.common_width{width:1200px;height:40px;margin:0 auto;}
.welcome{height:36px;color:#999999;text-align:right; line-height:36px;}
/*最顶端欢迎栏目 end*/


/*logo and nav start*/
.top{height:54px;width:1200px;margin:31px auto 12px auto;}
.logo{width:217px;height:52px; display:inline-block;border-right:1px solid #ccc;}
.logo img{margin-top:0;}
.slogan{width:165px; height:52px; display:inline-block;line-height:52px;text-align:right;font-size:18px;color:#999999;}
.nav{padding-left:31px;}
.nav li{width:130px;height:52px;line-height:52px;font-size:16px;display:inline-block;float:left; text-align:center;}
.nav li a{}
/*logo and nav end*/

.black_line{width:100%;height:4px;background:#000;}

.content{width:100%;height:auto;margin:0 auto; background:#e7e8eb; padding-bottom:22px;}
.content_box{width:1200px;min-height:700px;margin:0 auto; background:#FFF;border-bottom: 1px solid #dcdcdd;}
/*内容左边的菜单 start*/
.content_left{width:219px;min-height:700px; border-left:none;border-right:none;}
.content_left_dt{width:220px;height:50px;background:url(../../resources/images/content_current_nav_bg.png) repeat-x; text-align:left; line-height:50px; color:#FFF; font-size:16px; font-weight:bold;}
.content_left_dt span{ padding-left:30px;}
.content_left_dd{width:219px;height:45px; background:#fff;text-align:left; line-height:45px; color:#323131; font-size:16px;position:relative;}
.content_left_dd:hover{ background:#f3f3f4;color:#ff0202;}
.content_left_dd:hover a i{background:url(../../resources/images/content_left_dd_i_select.png) no-repeat; color:#ff0202;}
.content_left_dd a{ outline:none;}
.content_left_dd_select{ color:#ff0202; background:#F3F3F4;}
.content_left_dd_select a{ color:#ff0202; background:#F3F3F4;}
.content_left_dd_a{color:#323131; font-size:16px; background:none; display:block; outline:none; padding-left:45px; position:relative;}
a.content_left_dd_a:hover{color:#ff0202;}
.content_left_dd_i{width: 18px; height: 18px;vertical-align: middle; display: inline-block;background:url(../../resources/images/content_left_dd_i.png) no-repeat; position:absolute;right: 20px;top: 15px;}
.content_left_dd_select a i{background:url(../../resources/images/content_left_dd_i_select.png) no-repeat;}

	/*内容左边的菜单 新增  杜 start*/

	.content_left_dd span.content_left_dd_span{background:url(../../resources/images/order_management/drow_bottom.png) no-repeat left center/auto 12px;display:inline-block;width:12px;height:12px;position:absolute;top:50%;margin-top:-6px;left:25px;z-index: 10;}
	.content_left_dd span.content_left_dd_span_drow{background:url(../../resources/images/order_management/drow_right.png) no-repeat left center/auto 12px;}
	.content_left_dd_list{width:219px;height:45px; background:#fff;text-align:left; line-height:45px; color:#323131; font-size:16px;}
	.content_left_dd_list:hover{ background:#f3f3f4;color:#ff0202;}
	.content_left_dd_list_select{ color:#ff0202; background:#F3F3F4;}
	.content_left_dd_list_select a{ color:#ff0202; background:#F3F3F4;}

	.content_left_dd_a_list{color:#323131; font-size:16px; background:none; display:block; outline:none; padding-left:61px; position:relative;}
	a.content_left_dd_a_list:hover{color:#ff0202;}
	.content_left_dd_i_list{width: 18px; height: 18px;vertical-align: middle; display: inline-block;background:url(../../resources/images/content_left_dd_i.png) no-repeat; position:absolute;right: 20px;top: 15px;}
	.content_left_dd_select a i{background:url(../../resources/images/content_left_dd_i_select.png) no-repeat;}



	/*内容左边的菜单 新增  杜 end*/




/*内容左边的菜单 end*/

/*内容右边的内容 start*/
.content_right{width:978px;min-height:700px;border-left:1px solid #dcdcdd;}
.content_right_box{ width:95%; height:100%; margin:0 auto;min-height:700px;}
.content_right_nav{ width:100%; margin:0 auto; height:50px; line-height:50px;}
.content_right_nav a{outline:none; color:#323131; font-size:14px;}
.content_right_nav_a{ font-size:14px; color:#323131;}
.content_right_nav_i{width: 18px; height: 18px;vertical-align: middle; display: inline-block;background:url(../../resources/images/content_left_dd_i_select.png) no-repeat;margin: 0 5px;}

.content_right_nav_line{ width:100%; margin:0 auto; height:1px; background:#dddddd;}


/*内容右边的内容 start*/

/*footer start*/
.footer{ width:100%; margin:0 auto; height:52px; background:#0d0d0d;}
.footer_box{ width:1200px; margin:0 auto; text-align:center; padding-top:15px;}
.footer_box p{ color:#FFF; line-height:28px; font-size:14px;}
/*footer end*/



/* 弹出框 start*/
.Cover_layer{position: fixed;z-index: 9998;background: #333;opacity: 0.2;filter: alpha(opacity:20);width: 100%; height: 100%; overflow: auto;display: none;}
.Pop_layer{background: #FFF;position: fixed;z-index: 9999;min-width: 300px; min-height: 200px;border: solid 1px #ededed;box-shadow: 0 1px 3px 2px rgba(0,0,0,.2);-webkit-box-shadow: 0 1px 3px 2px rgba(0,0,0,.2); border-radius: 0px; display: none; border-radius:3px; padding:0;}

/* 最新活动弹出框 start*/
.latest_activity_pop{ width:360px; height:320px;}
.latest_activity_pop_close{ width:100%; text-align:right; height:30px; line-height:30px;}
.latest_activity_pop_close_a{ padding:15px; background:url(../../resources/images/close.png) no-repeat center center;}
.latest_activity_pop_close_a:hover{ background:url(../../resources/images/close_select.png) no-repeat center center;}

.latest_activity_pop_con{ width:90%;    margin: 0 auto;margin-top:25px;}
.latest_activity_pop_con_t{ font-size:18px; color:#4c4c4c; text-align:center; font-weight:bold;}
.latest_activity_pop_con_c{ font-size:14px; color:#4c4c4c;margin-top:20px;}
.latest_activity_pop_btn{ width:90%; margin:0 auto; margin-top:70px; text-align:center;}
a.latest_activity_pop_btn_follow{ padding:11px 50px; background:#fe0000; border:1px solid #fe0000; border-radius:5px; color:#FFF; font-size:14px;}
a.latest_activity_pop_btn_follow:hover{ background:#fe0000;}
a.latest_activity_pop_btn_no{padding:11px 50px; background:#fff; border:1px solid #fe0000; border-radius:5px; color:#fe0000; font-size:14px; margin-left:15px;}


/* 最新活动弹出框 end*/

/* 弹出框 end */