@charset "utf-8";
a{	outline:none;}

/* 弹出框 start*/
.Cover_layer{position: fixed;z-index: 9998;background: #333;opacity: 0.2;filter: alpha(opacity:20);width: 100%; height: 100%; overflow: auto;display: none;}
.Pop_layer{background: #FFF;position: fixed;z-index: 9999;min-width: 300px;min-height: 200px;border: solid 1px #ededed;box-shadow: 0 1px 3px 2px rgba(0,0,0,.2);-webkit-box-shadow: 0 1px 3px 2px rgba(0,0,0,.2); border-radius: 0px; display: none; border-radius:3px; padding:0;}
.Pop_layer_box{ /* width:100%;  */min-width:300px; min-height:300px; text-align:left;}
.pop_layer_title{height:40px; line-height:40px;cursor:move; background:#f4f5f9; border-bottom:1px solid #e7e7e7; position:relative;}
.pop_layer_title:after{content:"";display:block;clear:both}
.pop_layer_title_span{ font-size:16px; color:#6E6F71; font-weight:bold;font-family:Microsoft YaHei; padding-left:20px;float:left}
.pop_layer_title_span_close{ height:40px;width:30px;float:right;background: url(../../resources/images/close.png) no-repeat center center;}
.pop_layer_title_span_close_a{display:block;width:100%;height:100%}
a.pop_layer_title_span_close_a:hover{ background: url(../../resources/images/close_select.png) no-repeat center center;}

.perfect_information_pop_button{    width: 100%;text-align: center;margin: 20px 0 0 0; background:#F4F5F9; height:75px; line-height:75px; border-top:1px solid #e7e7e7;}
.perfect_information_pop_button_wechat{ margin:0;}
a.perfect_information_pop_button_sure{    display: inline-block;
    width:120px;
    height: 40px;
    line-height: 40px;
    background:#FF0202;
    color: #fff;
    font-size: 16px;
    font-family: Microsoft YaHei;
    border-radius: 5px;
    margin-right: 20px;
    border: 1px solid #ff0202;
    text-decoration: none;}
a.perfect_information_pop_button_sure:hover{ color:#FFF;}
a.perfect_information_pop_button_cancel{    display: inline-block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    background: #FFF;
    color: #ff0202;
    font-size: 16px;
    font-family: Microsoft YaHei;
    border-radius: 5px;
    margin-right: 20px;
    border: 1px solid #ff0202;
    text-decoration: none;}


/* 最新活动弹出框 start*/
.latest_activity_pop{ width:360px; height:320px;}
.latest_activity_pop_close{ width:100%; text-align:right; height:30px; line-height:30px;}
.latest_activity_pop_close_a{ padding:15px; background:url(../../resources/images/close.png) no-repeat center center;}
.latest_activity_pop_close_a:hover{ background:url(../../resources/images/close_select.png) no-repeat center center;}

.latest_activity_pop_con{ width:90%;    margin: 0 auto;margin-top:25px;}
.latest_activity_pop_con_t{ font-size:18px; color:#4c4c4c; text-align:center; font-weight:bold;}
.latest_activity_pop_con_c{ font-size:14px; color:#4c4c4c;margin-top:20px;}
.latest_activity_pop_btn{ width:90%; margin:0 auto; margin-top:70px; text-align:center;}
a.latest_activity_pop_btn_follow{ padding:11px 50px; background:#fe0000; border:1px solid #fe0000; border-radius:5px; color:#FFF; font-size:14px;}
a.latest_activity_pop_btn_follow:hover{ background:#fe0000;}
a.latest_activity_pop_btn_no{padding:11px 50px; background:#fff; border:1px solid #fe0000; border-radius:5px; color:#fe0000; font-size:14px; margin-left:15px;}


/* 最新活动弹出框 end*/

/* 完善资料 second start*/
.dialog_wrp_img_pop{width: 846px; min-height:200px;}
.dialog_wrp_img_pop_wechat{ float:left;}
.dialog_wrp_img_pop_btn{ height:32px; text-align:right; margin:0 30px 20px 30px; border-bottom:1px solid #e7e7eb;    padding: 10px 20px;}
.dialog_wrp_img_pop_btn_wechat{ margin:0 30px 20px 0;}
a.dialog_wrp_img_pop_btn_a{    background:#fb6d6d;
    border:#ff0202;
    color: #fff;    display: inline-block;
    overflow: visible;
    padding: 0 22px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font-size: 14px;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;}
    
     .dialog_wrp_img_pop_btn_a input[type="file"]{
   position: absolute;
    font-size: 12px !important;
    width: 100%;
    height:100%;
    left: 0;
    top: 0;
    opacity: 0;
    margin-left: -100%;
    width: 200%;
    cursor: pointer;
    }
a.dialog_wrp_img_pop_btn_a:hover{ color:#FFF;}
.dialog_wrp_img_pop_con{padding-bottom: 5px;text-align: center; width:90%; margin:0 auto;height:420px; min-height:300px; overflow:auto;}
.dialog_wrp_img_pop_con_ul{ width:100%;}
.dialog_wrp_img_pop_con_li{ width:23%;margin-right:2%; text-align:center; float:left; height:190px; margin-bottom:20px; position:relative;}
.dialog_wrp_img_pop_con_li_img{ margin:0 auto;    max-width:170px;
    max-height:155px;
    vertical-align: middle;

width:170px\9;//ie8+ 
*width:170px;//ie7 
_width:170px;//ie6

   }
.dialog_wrp_img_pop_con_li_a{ display:table-cell; border: 1px solid #e7e7eb; height:155px;vertical-align: middle; width:170px; text-align:center; }
.dialog_wrp_img_pop_con_li_p{ text-align:center; border:1px solid #e7e7eb; line-height:32px; height:32px; border-top:none; width:170px;    overflow: hidden; }
.dialog_wrp_img_pop_con_li_mask{    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;}
.dialog_wrp_img_pop_con_li_inner{    width: 100%;
    height: 100%;
    -moz-opacity: .6;
    -khtml-opacity: .6;
    opacity: .6;
    background-color: #000;
    filter: alpha(opacity=60);}
.dialog_wrp_img_pop_con_li_icon{    position: absolute;
    top: 0;
    left: 0;
    background: transparent url(../../resources/images/perfect_information/icon_card_selected.png) no-repeat 0 0;
    width:  100%;
    height:  100%;
    vertical-align: middle;
    display: inline-block;
    background-position: 50% 50%;}
.form_access_font_add{ min-height:120px; line-height:35px;}	
.form_access_input_font_add{ width:90%;}
.form_access_input_font_add textarea{ width:90%;}



.perfect_information_pop_font{ width:800px; height:280px; text-align:center;}
.perfect_information_pop_font_span{    border: 1px solid #dcdcdd;
    width: 100%;
    display: inline-block;
    line-height: 32px;
    overflow: hidden;
    text-align: center; width:80%;    margin-top: 60px;}
.perfect_information_pop_font_span textarea{    border: none;
    width: 97%;
    height: 180px;
    color: #5c5c5c;
    font-size: 14px;
    font-family: Microsoft YaHei;
    line-height: 30px;}




/* 完善资料 second end*/


/*微信-新建图文素材 start*/
.perfect_information_pop_width{ width:968px;}
.perfect_information_pop_left{width:120px; height:500px; float: left; border-right:1px solid #e7e7eb;}
.perfect_information_pop_left_box{ width:100%; margin:0 auto;}
.perfect_information_pop_left_ul{ margin:0; padding:0; }
.perfect_information_pop_left_li{ text-align:center; width:100%; height:30px; line-height:30px; overflow:hidden;}
a.perfect_information_pop_left_a{ display:block; width:100%; height:100%; color:#222; font-size:14px;}
a.perfect_information_pop_left_a_select{ background:#f4f5f9;}
a.perfect_information_pop_left_a:hover{ background:#f4f5f9;}









/*微信-新建图文素材end*/


/* 弹出框 end */


/*微信选择素材弹出框start*/
.dialog_wrp_img_pop_bg{ background-color: #fff;}
.search_input_span{width:300px;height:30px;border:1px solid #ccc;line-height:30px;}
.search_input{width:300px;height:30px;padding-left:10px;line-height:32px;border:0;outline: none;}
.search_button{height:30px;width:30px;border:1px solid #ccc;}

.picandfont_div{position:relative;color:#666;width:40%;min-height:100px;border:1px solid #e7e7eb;margin-left:3%; margin-bottom:20px;}
.sucai_title{min-height:30px;line-height:30px;display: block;text-align: left;padding-left:20px;padding-right:20px;}
.sucai_date{min-height:30px;line-height:30px;display: block;text-align: left;padding-left:20px;padding-right:20px;}
.sucai_child_title{width:260px;padding-top: 20px;padding-bottom: 20px;}
.sucai_div{margin-bottom:15px;padding-left:20px;padding-right:20px;}
.sucai_child_title{border-top:1px solid #e7e7eb;width:100%;}
.sucai_child_title_name{padding-left:20px;}
.sucai_child_title img{float:right; display: block;width:70px;margin-right:24px;}



/*微信选择素材弹出框end*/

/*删除素材start*/
.del_source_material{ width:300px; height:201px;}
.del_source_material_box{ width:60%; margin:0 auto; padding-top:50px;}
.del_source_material_font{font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","\9ED1\4F53",Arial,sans-serif;
    color: #222;
    font-size: 16px;}
.del_source_material_btn{ width:100%; margin:30px auto; text-align: justify;}
a.del_source_material_btn_a{ background:#FF0202; display:inline-block; padding:0 22px; height:30px; line-height:30px; color:#FFF; border:1px solid #FF0202; border-radius:5px;}
a.del_source_material_btn_no{ background:#FFF; display:inline-block; padding:0 22px; height:30px; line-height:30px; color:#FFF; border:1px solid #FF0202; color:#FF0202; border-radius:5px; margin-left:20px;}



/*删除素材end*/


/*上线商城 start*/
.online_mall_pop{ width:550px; height:250px;}
.online_mall_pop_box{ width:90%; margin:0 auto; margin-top:40px;}
.online_mall_pop_item{ width:100%; text-align:center; margin-top:20px;}
.online_mall_pop_item_title{ display: inline-block; width:120px; height:37px; line-height:37px; text-align:right; padding-right:5px; font-size:15px;}
.online_mall_pop_item_con{ display:inline-block; width:300px; height:37px; line-height:37px;}
.online_mall_pop_item_con select{    height: 35px;
    line-height: 35px;
    width: 100%;
    border: 1px solid #dcdcdd;
    color: #5c5c5c;
    text-align: center;
    vertical-align: middle;
    padding: 0; font-size:15px;}



/*上线商城end*/


/*会员列表 新增会员 弹出框 start*/
.new_member_pop{ width:550px;margin-bottom:20px;}
.new_member_pop_box{ width:95%; margin:0 auto; margin-top:40px; position:relative; padding-bottom:40px;    min-height: 100px;}
.new_member_pop_item{ width:100%; text-align:center; margin-top:20px;}
.new_member_pop_item_title{ display: inline-block; width:120px; height:37px; line-height:37px; text-align:right; padding-right:5px; font-size:15px; color:#5c5c5c;}
.new_member_pop_item_con{ display:inline-block; width:300px; height:37px; line-height:37px;}
.new_member_pop_item_con input[type=text],.new_member_pop_item_con input[type=password]{    height: 35px;
    line-height: 35px;
    width: 100%;
    border: 1px solid #dcdcdd;
    color: #5c5c5c;
    vertical-align: middle;
    padding: 0; font-size:15px;}
.new_member_pop_item_con_width{text-align:left;}
.new_member_pop_item_con_width input[type=text],.new_member_pop_item_con_width input[type=password]{width:58%;}
.new_member_pop_item_con_spans{ width: 38%; display: inline-block;height:35px;line-height:35px; color:#1de259;font-size:16px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;vertical-align:middle;}
.new_member_pop_item_con input[type=date]{    height: 35px;
    line-height: 35px;
    width: 100%;
    border: 1px solid #dcdcdd;
    color: #5c5c5c;
    vertical-align: middle;
    padding: 0; font-size:15px;}
.new_member_pop_item_con select{    height: 35px;
    line-height: 35px;
    width: 100%;
    border: 1px solid #dcdcdd;
    color: #5c5c5c;
    text-align: center;
    vertical-align: middle;
    padding: 0; font-size:15px;}

.new_member_pop_ewm{ position:absolute; bottom:0px; right:0px;}
.new_member_pop_ewm img{ width:38px; height:38px;}



/*会员列表 新增会员 弹出框 end*/
/*会员列表 充值 弹出框 start*/
.new_member_pop_item_fonts{ font-size:14px; color:#828282; text-align:center; width:80%; margin:0 auto; display:inline-block;}
.new_member_pop_item_fonts em{font-size:14px; font-style:normal; color:#ff0202; padding:0 5px;}

.new_member_pop_right_boxs{width:300px; float:right; border-left:1px dashed #dcdcdd;}
.new_member_pop_right_boxs ul{ width:100%; margin:20px auto;}
.new_member_pop_right_boxs ul:after{ content:""; display:block; clear:both;}
.pop_right_boxs_li{ width:40%; height:30px; line-height:30px; float:left;color:#333333; text-align:center; position:relative;}

a.pop_right_boxs_a{ width:100%; height:30px; line-height:30px; float:left; background:#dedede; color:#333333; text-align:center;}
a.pop_right_boxs_a:hover{background:#ff6d2c; color:#FFF;}
.on .pop_right_boxs_a{background:#ff6d2c; color:#FFF;}

.pop_right_boxs_li:hover .pop_right_boxs_li_i{position: absolute;left: 50%;margin-left: -6px;bottom: -6px;}
.pop_right_boxs_li:hover .arrow_out_i{display: inline-block;width:0;height:0;border-width:6px;border-style:dashed;border-color: transparent;border-bottom-width:0;border-top-color:#ff6d2c;border-top-style: solid;}
.pop_right_boxs_li:hover .arrow_in_i{display: inline-block;width:0;height:0;border-width:6px;border-style:dashed;border-color: transparent;border-bottom-width: 0;border-top-color:#ff6d2c;border-top-style: solid;}

.on .pop_right_boxs_li_i{position: absolute;left: 50%;margin-left: -6px;bottom: -6px;}
.on .arrow_out_i{display: inline-block;width:0;height:0;border-width:6px;border-style:dashed;border-color: transparent;border-bottom-width:0;border-top-color:#ff6d2c;border-top-style: solid;}
.on .arrow_in_i{display: inline-block;width:0;height:0;border-width:6px;border-style:dashed;border-color: transparent;border-bottom-width: 0;border-top-color:#ff6d2c;border-top-style: solid;}

.new_member_pop_right_boxs_con{ width:100%; margin:0 auto;}
.pop_right_boxs_con{ width:93%; margin:0 auto;}
.pop_right_boxs_con_item{ width:100%; height:33px; line-height:33px; overflow:hidden;}
.pop_right_boxs_con_item em{ font-style:normal;}
.pop_right_boxs_con_item span{ font-size:14px; color:#5c5c5c;}
.pop_right_boxs_con_item_span em{ color:#FF0202;}

.pop_right_boxs_con_bottom{ padding:10px 0 20px 0; width:100%; border-top:1px dashed #dcdcdd; margin-top:10px;}
.pop_right_boxs_con_bottom_item span{font-size:14px; color:#5c5c5c;}
.pop_right_boxs_con_bottom_item em{ font-style:normal;}
.pop_right_boxs_con_bottom_item{width:100%; height:33px; line-height:33px; overflow:hidden;}



/*会员列表 充值 弹出框 end*/

/*会员列表 充值撤销 弹出框 start*/
.new_member_pop_revoke{ width:750px;}
.new_member_pop_info{ width:100%; margin:10px auto;}
.new_member_pop_info_table{width: 100%;border: 1px solid #dcdcdd;}
.new_member_pop_info_th{padding: 0 5px;border-right: 1px solid #dcdcdd;border-bottom: 1px solid #dcdcdd;text-align: center;height: 45px;line-height: 45px;background: #FAFAFA;color: #333333; font-weight:normal;}
.new_member_pop_info_td{border-right: 1px solid #dcdcdd;border-bottom: 1px solid #dcdcdd;text-align: center;height: 50px;line-height: 50px;color: #333333;}

.new_member_pop_page{ width:100%; text-align:center; margin:20px auto; margin-bottom:0;}



/*会员列表 充值撤销 弹出框 end*/

/*会员列表 密码重置 弹出框 start*/
.new_member_pop_item_con_w{ width:200px;}
.new_member_pop_item_con_coad{ width:90px; margin-left:10px; display:inline-block; vertical-align:middle;}
.new_member_pop_item_con_coad a{ border:1px solid #d9d9d9; display:inline-block; width:100%; height:35px; line-height:35px;background:#E0DCDC url(../../resources/images/activity/collect_bg.png) repeat-x;}

.new_member_pop_item_con_coad img{ width:100%; height:35px; vertical-align:middle;}

/*会员列表 密码重置 弹出框 end*/

/*会员列表 销户 弹出框 start*/
.new_member_pop_item_info{ width:100%; border-bottom:1px solid #dcdcdd;border-top:1px solid #dcdcdd;}
.new_member_pop_item_info_l{ width:49%; float:left; padding:10px 0; border-right:1px solid #dcdcdd;}
.new_member_pop_item_info_title{ display:inline-block; width:40%; text-align:right; height:32px; line-height:32px; font-size:14px; color:#5c5c5c; margin:5px 0;}
.new_member_pop_item_info_con{ display:inline-block; width:59%; text-align:left;height:32px; line-height:32px; font-size:14px; color:#5c5c5c;margin:5px 0;}
.new_member_pop_item_info_r{ width:49%; float:left; padding:10px 0;}

.new_member_pop_item_info_con input[type=text]{display: inline-block;border: 1px solid #dcdcdd; width:55%; height:30px; line-height:30px; color:#5c5c5c;}
.new_member_pop_item_info_con select{display: inline-block;border: 1px solid #dcdcdd; width:55%; height:30px; line-height:30px; color:#5c5c5c;}

/*会员列表 销户 弹出框 end*/

/*会员列表 编辑分组 弹出框 start*/
.new_member_pop_group{ width:100%; margin:0px auto;}
.new_member_pop_group_con{width:100%; margin:0px auto; max-height:252px; overflow:auto;}
.new_member_pop_group_item{display:inline-block;  line-height:30px; margin:0 10px 10px 10px; position:relative;}

.new_member_pop_group_items{display:inline-block;  line-height:30px; margin:0 10px 10px 10px; position:relative;}
.new_member_pop_group_items input[type=text]{display:inline-block; border:1px solid #dcdcdd; border-radius:20px; height:30px; line-height:30px; text-align:center; padding:0 28px 0 5px; min-width:100px; width:168px;}
/*.new_member_pop_group_items i{ padding:10px; background:url(../../resources/images/member/group_close.png) no-repeat center center; vertical-align:middle; position:absolute; right:10px; top:6px;}*/
.new_member_pop_group_items input[type=text]:hover{display:inline-block; border:1px solid #ff0202; border-radius:20px; height:30px; line-height:30px; text-align:center; padding:0 28px 0 5px; min-width:100px; width:168px;}
/*.new_member_pop_group_items i:hover{ padding:10px; background: url(../../resources/images/member/group_add_select.png) no-repeat center center;vertical-align:middle;}
*/


.new_member_pop_group_items_select{display:inline-block;  line-height:30px; margin:0 10px 10px 10px; position:relative;}
.new_member_pop_group_items_select input[type=text]{display:inline-block; border:1px solid #ff0202; border-radius:20px; height:30px; line-height:30px; text-align:center; padding:0 28px 0 5px; min-width:100px; width:168px;}
.new_member_pop_group_items_select_i{ padding:10px; background: url(../../resources/images/member/group_close.png) no-repeat center center;vertical-align:middle; position:absolute; right:10px; top:6px;}

.new_member_pop_group_items_select_i:hover{ padding:10px; background:url(../../resources/images/member/group_close_select.png) no-repeat center center; vertical-align:middle; position:absolute; right:10px; top:6px; color:#ff0202;}

.new_member_pop_group_items_add_i{ padding:10px; background: url(../../resources/images/member/group_add.png) no-repeat center center;vertical-align:middle; position:absolute; right:10px; top:6px;}

.new_member_pop_group_items_add_i:hover{ padding:10px; background:url(../../resources/images/member/group_add_select.png) no-repeat center center; vertical-align:middle; position:absolute; right:10px; top:6px; color:#ff0202;}



.new_member_pop_group_item a{display:inline-block; border:1px solid #dcdcdd; border-radius:20px; height:30px; line-height:30px; text-align:center; padding:0 15px;}

.new_member_pop_group_item a:hover{border:1px solid #ff0202;}
.new_member_pop_group_item a:hover i{ padding:2px 5px 2px 10px; background: url(../../resources/images/member/group_close_select.png) no-repeat center center;vertical-align:middle;}

.new_member_pop_group_item_select a{display:inline-block; border:1px solid #ff0202; border-radius:20px; height:30px; line-height:30px; text-align:center; padding:0 15px; color:#ff0202;}





/*会员列表 编辑分组 弹出框 end*/

/*会员列表 会员详情 弹出框 start*/
.new_member_pop_item_titles{ font-size:16px; font-weight:bold;}



/*会员列表 会员详情 弹出框 end*/



/*会员 创建会员 弹出框 start*/
.create_coad_pop{ width:750px;margin-bottom:20px;}
.create_coad_pop_box{ width:95%; margin:0 auto; margin-top:40px; position:relative; padding-bottom:40px;    min-height: 100px;}
.create_coad_pop_item{ width:100%; margin:20px auto; border-left:4px solid #ff0202;text-align: center;}
.create_coad_pop_item_t{display: inline-block;width: 150px;height: 37px;line-height: 37px;text-align: right;padding-right: 5px;font-size: 15px;color: #5c5c5c;}
.create_coad_pop_item_c{display: inline-block;width: 300px;height: 37px;line-height: 37px; text-align:right;}
.create_coad_pop_item_c input[type=text]{height: 35px;line-height: 35px;width: 100%;border: 1px solid #dcdcdd;color: #5c5c5c;vertical-align: middle;padding: 0;font-size: 15px;}

.create_coad_pop_item_c_a{ display:inline-block; width:88px; height:35px; vertical-align:middle; text-align:right; background:url(../../resources/images/member/member_list_create_code_btn.png) no-repeat center right;}
.create_coad_pop_item_c_a_s{ display:inline-block;width:88px; height:35px; vertical-align:middle; text-align:right; background:url(../../resources/images/member/member_list_create_code_btn_s.png) no-repeat center right;}
.create_coad_pop_item_c_d{display: inline-block;width: 300px;height: 37px;line-height: 37px;  position:relative;}
.create_coad_pop_item_c_d input[type=text]{height: 35px;line-height: 35px;width:91%;border: 1px solid #dcdcdd;color: #5c5c5c;vertical-align: middle;padding: 0;font-size: 15px; padding-right:25px; text-align:right;}

.create_coad_pop_item_c_z{ position:absolute; right:5px; top:1px;}
.create_coad_pop_item_c_q{position:absolute; left:5px; top:3px;}
.create_coad_pop_item_c_d_q input[type=text]{ padding-left:85px; width:63%;}


/*会员 创建会员 弹出框 end*/

/*会员 创建活动 弹出框 start*/
.create_activity_pop{width:880px;margin-bottom:20px;}
.create_activity_pop_box{ width:95%; margin:0 auto; margin-top:10px; position:relative; padding-bottom:40px;    min-height: 100px;}
.create_activity_pop_item{ width:100%; margin:20px auto; border-left:4px solid #ff0202;}
.create_activity_pop_item_t{display: inline-block;width: 150px;height: 37px;line-height: 37px;text-align: right;padding-right: 5px;font-size: 15px;color: #5c5c5c;}
.create_activity_pop_item_c{display: inline-block;width: 280px;height: 37px;line-height: 37px; }
.create_activity_pop_item_c input[type=text]{height: 35px;line-height: 35px;width: 100%;border: 1px solid #dcdcdd;color: #5c5c5c;vertical-align: middle;padding: 0;font-size: 15px;}
.create_activity_pop_item_c select{height: 35px;line-height: 35px;width: 100%;border: 1px solid #dcdcdd;color: #5c5c5c;vertical-align: middle;padding: 0;font-size: 15px;}

.create_activity_pop_item_tips{ display:inline-block; width:auto; height:37px;line-height: 37px; position: relative; vertical-align:middle; margin-left: 15px;}
.create_activity_pop_item_tips_s{ display:inline-block; width:100%; height:34px; border:2px solid #FFDFB6; background:#FFFBF2;border-radius: 5px; padding:0px 2%; color:#6B6C6A; font-size:12px; max-width:238px; overflow:hidden;}
.create_activity_pop_item_tips_i{position: absolute; left:0;margin-left: -6px; top:12px;}
.activity_arrow_out{display: inline-block;width: 0;height: 0;border-width: 6px;border-style: dashed;border-color: transparent; border-left-width: 0;border-right-color: #FFDFB6;border-right-style: solid;}
.activity_arrow_in{display: inline-block;width: 0;height: 0;border-width: 6px;border-style: dashed;border-color: transparent;border-left-width: 0;border-right-color: #FFDFB6;border-right-style: solid;}

.item_border{ border:none;}
.item_t_border{ border-left:4px solid #ff0202;}
.create_activity_pop_item_con{ width:90%; margin:5px auto;border-top: 1px solid #dcdcdd;}
.create_activity_pop_item_con_title{ width:100%; margin:0 auto;}
.create_activity_pop_item_con_title ul{}
.item_con_title_li{ float:left; height:40px; line-height:40px; width:110px; margin-left:20px; text-align:center; margin-top:15px;}
a.item_con_title_a{ display:block; font-size:14px; color:#333333; border:1px solid #dcdcdd; font-weight:bold;}
a.item_con_title_a:hover{ display:block; font-size:14px; color:#ff0202; border:1px solid #ff0202;font-weight:bold;}

.on a.item_con_title_a{ display:block; font-size:14px; color:#ff0202; border:1px solid #ff0202;font-weight:bold;}

.create_activity_pop_item_con_body{ width:99%;margin:18px auto;border: 1px solid #dcdcdd; max-height:153px; overflow:auto;}
.body_id .item_id .add_id{display:none}
.body_id .item_id:last-child .del_id{display:none}
.body_id .item_id:last-child .add_id{display:inline-block}
.item_con_body_item{ width:90%; margin:13px auto; height:34px; line-height:34px; vertical-align:middle;}
.item_con_body_item_title{ font-size:14px; color:#333333; font-weight:bold;height:34px; line-height:34px; display: inline-block; width:65px;}
.item_con_body_item_type{ font-size:14px; color:#333333;height:34px; line-height:34px; display: inline-block; width:auto;}
.item_con_body_item_line{ padding:0 5px 0 10px;}
.item_con_body_item_input{ width:100px;height:34px; line-height:34px; position:relative;display: inline-block;}
.item_con_body_item_input input[type=text]{border: 1px solid #dcdcdd; width:80px; padding:0 20px 0 5px; height:32px; line-height:32px;font-size:14px; color:#333333;}
.item_con_body_item_input i{ font-style:normal;font-size:14px; color:#333333; position:absolute; right:0px; top:0;}

a.item_con_body_item_type_a{font-size:14px; color:#1F73FA;height:34px; line-height:34px; display: inline-block; padding-left:20px;}
a.item_con_body_item_type_b{ display:inline-block; height:34px; line-height:34px; width:34px; padding-left:20px; background:url(../../resources/images/member/member_list_j_icon.png) no-repeat center center; vertical-align:middle;}
a.item_con_body_item_type_b:hover{  background:url(../../resources/images/member/member_list_j_icon_select.png) no-repeat center center;}

.create_activity_pop_item_date{display: inline-block;width: 280px;height: 37px;line-height: 37px; }
.create_activity_pop_item_date input[type=text]{border: 1px solid #dcdcdd; width:125px; height:32px; line-height:32px;font-size:14px; color:#333333;}

.create_activity_pop_wd{ width:880px;}

/*会员 创建活动 弹出框 end*/

/*会员 通知 弹出框 start*/
.create_activity_pop_item_msn{display: inline-block;width: 280px;height:42px;line-height: 42px; text-align:center;}
.create_activity_pop_item_c_a{ font-size:14px; color:#333333; display:inline-block; font-weight:bold; height:40px; width:100px; margin:0 15px; text-align:center;border: 1px solid #dcdcdd;border-radius: 5px;}
.create_activity_pop_item_c_a:hover{ color:#ff0202; border:1px solid #ff0202;}
.create_activity_pop_item_c_select{ font-size:14px; color:#ff0202; display:inline-block; font-weight:bold; height:40px; width:100px; margin:0 15px; text-align:center;border: 1px solid #ff0202;border-radius: 5px;}

.item_con_fonts{ width:90%;border: 1px solid #dcdcdd; margin:0 auto;}
.item_con_fonts_t{ display:block; width:98%; margin:10px auto;}
.item_con_fonts textarea{ border:none; width:100%; margin:0 auto; height:250px;}
.item_con_fonts_tips{ font-size:12px; color:#999; text-align:right; display:block; padding-bottom:5px;}


/*会员 通知 弹出框 end*/

/*信息验证 start*/
input[type=text].info_border_red,input[type=date].info_border_red,input[type=number].info_border_red,input.info_border_red,input[type=password].info_border_red,input.info_border_red{ border:1px solid #ff0202; color:#ff0202;}


/*信息验证end*/

.table_check_all{ width:100%; margin:20px auto 0 auto;}
.table_check_all_span{ display:inline-block; height:32px; line-height:32px; background:#ff0202; min-width:32px; padding:0 40px 0 10px; color:#FFF; position:relative;}
.table_check_all_i{ display:inline-block; height:32px; width:32px; line-height:32px; background:#fc6c6c url(../../resources/images/member/table_check_all_i_icon.png) no-repeat center center; vertical-align:middle; position:absolute; top:0; right:0; cursor:pointer;}

a.table_check_all_a{ display:inline-block; height:32px; line-height:32px; background:#ff0202; min-width:32px; padding:0 10px; color:#FFF; margin-left:25px;}
a.table_check_all_a:hover{background:#DD0504; color:#FFF;}


/*会员卡图片 弹出框 start*/
.member_cade_business_logo_img_box {width: 100%;height: 100%; position: relative;}
.member_cade_business_logo_img_b {width: 100%;height: 100%;position: relative;}
.member_cade_business_logo_img_b img {width: 100%;height: 100%;}
.member_cade_business_logo_img_top {display: block;width: 200px;height:120px;position:absolute;text-align:center;z-index:99;top: 0;left: 0;overflow: hidden;}
.member_cade_business_logo_img_top_img {display: inline-block;background: url(../../resources/images/perfect_information/add_img.png) no-repeat center center;padding: 20px; margin-top: 25px;}
.member_cade_business_logo_img_top_font {display: block; text-align: center;  color: #6488ba;}
.member_cade_business_logo_img_input {width: 200px;height: 120px;position: absolute;text-align: center;z-index: 100;top: 0;left: 0;overflow: hidden;}
.member_cade_business_logo_img_input_f {width: 200px;height: 120px;background: none;border: none;font-size: 100px;opacity: 0;filter: alpha(opacity=0);}




/*会员卡图片 弹出框 end*/