@charset "utf-8";
/* -------------------------------------------------
 * reset css
 * author: 
 * -------------------------------------------------
*/
html{
	width:100%;
    height:100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
	-webkit-font-smoothing:antialiased;
}

body{
	width:100%;
	background-color:#fff;
	min-height:100%;
	height:auto !important;
	height:100%;
	font:12px/1.5 Helvetica,arial;
	font-family:"微软雅黑";
}
html,body,div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, 
pre, form, fieldset, input, textarea, p, blockquote, th, td { 
    padding: 0;
    margin: 0;
}
h1,h2,h3,h4,h5,h6,p,figure,form{
    margin:0;
	padding:0;
}
table{
	border-collapse:collapse;
	border-spacing:0;
}
img{
	border:0;
    /*vertical-align:middle;*/
    -ms-interpolation-mode: bicubic;
}
a{
	text-decoration:none;
	color:#29B4F0;

}

a:hover{
    color:#017CB9;
	text-decoration:none;
}
/* hn */
h1{
	font-size:16px;
	line-height:36px;
}
h2{
	font-size:14px;
}
h3{
	line-height:24px;
}
h3,h4,h5,h6{
	font-size:12px;
}
/* ul ol dl */
ul,li,ol{
    margin: 0;
	padding:0;
	list-style: none outside none;
}



/* clearfix */
.clearfix:after {
    content:".";
	height:0;
	visibility:hidden;
    display:block;
	clear:both;
}

.clearfix{
    zoom:1;
}
.clear{ clear:both;}
/* -------------------------------------------------
 * form
 * -------------------------------------------------
*/
button,input,select,textarea{
    font-family:tahoma;
	font-size:100%;
	margin: 0;
	outline: 0 none;
	vertical-align:middle;

    *vertical-align: middle;
}
textarea{
    overflow: auto;
    vertical-align: top; 
	resize:none;
}

select {
    border: solid 1px #000;
  
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    padding-right: 14px;
    background: url("../../resources/images/arrow.png") no-repeat scroll right center transparent;
	padding:0;

}


select::-ms-expand { display: none; }

