@charset "utf-8";
/* CSS Document */
a {
    color: #459ae9;
    text-decoration: none;
	outline:none;
}
/*头部*/
.ad_head1{ width:100%; height:82px; border-bottom:4px solid #020202; background:#FFF; min-width:1200px;}
.ad_head_box{ width:1200px; height:82px; margin:0 auto;}
.ad_head_logo{ float:left; width:40%; height:82px;}
.ad_head_logo img{ height:41px; margin-top:20px;}

.ad_head_font{ float:right; width:60%; height:82px; text-align:right; line-height:82px; color:#d5d5d5;}
.ad_head_font a{ font-family:Microsoft YaHei ; font-size:16px; color:#000; padding:0 5px;}
.ad_head_font a:hover{ color:#F00;}
a.ad_head_font_red{ color:#F00;}


/*素材管理*/
.material_management{ width:100%; margin:0 auto;}
.material_management_title h2{font-size: 16px; padding: 0 30px; line-height: 75px;    font-weight: 400; font-style: normal;    font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","\9ED1\4F53",Arial,sans-serif;
    color: #222;}
.material_management_title_tab_ul{    line-height: 40px;
    border-bottom-color: #e7e7eb;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none; border-bottom:1px solid #e7e7eb;}
.material_management_title_tab_li{float: left;font-size: 14px; line-height:40px;}
.material_management_title_tab_li_a{ padding:0 22px; display: block;
    text-decoration: none;
    color: #222;
    outline: 0;}
.material_management_title_tab_li_a_s{border-bottom:3px solid #FF0202;color: #222;}
.material_management_title_tab_li_a:hover{ border-bottom:3px solid #CCC;color: #222;}
.material_management_title_tab_li_a_s:hover{border-bottom:3px solid #FF0202;color: #222;}

.material_management_con{padding: 20px 0 40px 0;}
.material_management_con_search{padding: 0 30px;}
.material_management_con_search_span{    display: inline-block;
    position: relative;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    width: 278px;
    font-size: 14px;
    padding: 0 10px;
    border: 1px solid #e7e7eb;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    background-color: #fff;width: 255px;    padding-right: 60px;-moz-border-radius: 0;
    -webkit-border-radius: 0;}
.material_management_con_search_span_al{position: absolute;
    right: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 0;}
.material_management_con_search_span_ali{    cursor: pointer;
    background: url("../../resources/images/wechat/base_z2a7519.png") 0 -390px no-repeat;
    width: 14px;
    height: 14px;
    vertical-align: middle;
    display: inline-block;vertical-align: -webkit-baseline-middle;
    margin-top: -0.2em;}

.material_management_con_search_span_ac{     position: absolute;
    top: 0;
    right: .8em;   border-left: 1px solid #e7e7eb;
    right: 0;
    width: 30px;
    text-align: center;}

.material_management_con_search_span_aci{    width: 16px;
    height: 16px;
    vertical-align: middle;
    display: inline-block;
    line-height: 100px;
    overflow: hidden;background: url("../../resources/images/wechat/base_z2a7519.png") 0 -4421px no-repeat;   
    margin-top: -0.2em;}

.material_management_con_search_span_input{height: 22px;
    margin: 4px 0;    width: 100%;
    background-color: transparent;
    border: 0;
    outline: 0;    color: #222;    font-family: inherit;}

.material_management_con_search_bar{    padding: 0 30px;
    line-height: 55px;padding-top: 10px;}
.material_management_con_search_bar_info{    float: left;}
.material_management_con_search_bar_info h3{    font-weight: 400;
    font-style: normal;
    font-size: 14px;display: inline-block;
    vertical-align: middle;}
.material_management_con_search_bar_rank{    display: inline-block;
    height: 55px;
    vertical-align: middle;
    font-size: 0;
    margin-left: 14px;}
.material_management_con_search_bar_rank_a{     display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    color: #fff;
    position: relative;
    z-index: 1;   background: transparent url(../../resources/images/wechat/icon_card_msg_hover262dd5.png) no-repeat center center;
    z-index: 2;}
.material_management_con_search_bar_rank_a1{     display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    color: #fff;
    position: relative;
    z-index: 1;   background: transparent url(../../resources/images/wechat/icon_card_msg262dd5.png) no-repeat center center;}
.material_management_con_search_bar_rank_as{     display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    color: #fff;
    position: relative;
    z-index: 1;   background: transparent url(../../resources/images/wechat/icon_list_msg_hover262dd5.png) no-repeat center center;}
.material_management_con_search_bar_rank_as1{     display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    color: #fff;
    position: relative;
    z-index: 1;   background: transparent url(../../resources/images/wechat/icon_list_msg262dd5.png) no-repeat center center;}
a.material_management_con_search_bar_btn{    color: #fff;    background-color:#FF0202;    display: inline-block;
    overflow: visible;
    padding: 0 22px;
    height: 32px;
    line-height: 32px;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font-size: 14px;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;    float: right;
    margin-top: 12px;min-width: 60px;}
a.material_management_con_search_bar_btn:hover{ background:#FD4B4B;}
.material_management_con_search_bar_btni{    width: 14px;
    height: 14px;
    vertical-align: middle;
    display: inline-block;
    line-height: 100px;
    overflow: hidden;    background: url("../../resources/images/wechat/base_z2a7519.png") 0 -3614px no-repeat;}

.material_management_con_list{    text-align: justify;
    text-justify: distribute-all-lines;
    font-size: 0;
    margin: 0 30px;
    letter-spacing: -4px;margin-bottom: 0;}

.material_management_con_list_item{ float:left;
    vertical-align: top;
    width: 33.3%;
    text-align: left;
    font-size: 14px;
    letter-spacing: normal;    font-size: 14px;
    text-align: left;}

.material_management_con_list_item_box{    overflow: hidden;
    margin-bottom: 20px;
    border: 1px solid #e7e7eb;
    background-color: #fff;
    color: #666;font-size: 14px;
    text-align: left; margin:0 2% 20px 2%;}
.material_management_con_list_item_box_a{    padding: 0 14px;
    position: relative;}

.material_management_con_list_item_box_h4{    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    padding-top: 10px;
    line-height: 28px;
    max-height: 28px;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;    font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","\9ED1\4F53",Arial,sans-serif;white-space: nowrap;text-overflow: ellipsis;}
.material_management_con_list_item_time{font-size: 13px;
    line-height: 20px;
    padding-bottom: 10px;}
.material_management_con_list_item_time_em{    font-weight: 400;
    font-style: normal;}

.material_management_con_list_item_img{    height: 160px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;}
.material_management_con_list_item_font{
    word-wrap: break-word;
    word-break: break-all; height:66px; line-height:22px;    overflow: hidden; margin:5px 0 10px 0;}

.material_management_con_list_item_second{    position: relative;
    padding: 20px 14px;
    border-top: 1px solid #e7e7eb;    margin: 0 -14px;}
.material_management_con_list_item_second_img{    float: right;
    width: 78px;
    height: 78px;
    margin-left: 14px;}

.material_management_con_list_item_second_h4{    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    padding-top: 10px;
    line-height: 28px;
    max-height: 56px;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;line-height: 24px;
    max-height: 48px;
    overflow: hidden;
    margin-top: 14px;    font-size: 14px;
    padding-top: 0;}
a.material_management_con_list_item_second_a{    display: block;
    color: #222;}




.material_management_con_list_item_box_b{    background-color: #f4f4f4;
    border-top: 1px solid #e7e7eb;}
.material_management_con_list_item_box_b ul{overflow: hidden;}
.material_management_con_list_item_box_b_li{float: left;
    line-height: 44px;
    height: 44px;    width: 50%;}
.material_management_con_list_item_box_b_li_a{    display: block;
    border-right: 1px solid #e7e7eb;
    text-align: center;
    text-decoration: none; cursor:pointer;}
.material_management_con_list_item_box_b_li_a:hover {
	text-decoration:none;
}
.material_management_con_list_item_box_b_li_ai{    background: url("../../resources/images/wechat/base_z2a7519.png") 0 -5527px no-repeat;    width: 18px;
    height: 18px;
    vertical-align: middle;
    display: inline-block;
    line-height: 100px;
    overflow: hidden;}
.material_management_con_list_item_box_b_li_ai:hover{background:url("../../resources/images/wechat/base_z2a7519.png") 0 -5555px no-repeat}
.material_management_con_list_item_box_b_lib{     float: none;
    width: auto;
    overflow: hidden;line-height: 44px;
    height: 44px;}
.material_management_con_list_item_box_b_li_b{    display: block;
    border-right: 1px solid #e7e7eb;
    text-align: center;
    text-decoration: none;    border-right-width: 0; cursor:pointer;}
.material_management_con_list_item_box_b_li_bi{background: url("../../resources/images/wechat/base_z2a7519.png") 0 -4827px no-repeat;    width: 18px;
    height: 18px;
    vertical-align: middle;
    display: inline-block;
    line-height: 100px;
    overflow: hidden;}
.material_management_con_list_item_box_b_li_bi:hover{background:url("../../resources/images/wechat/base_z2a7519.png") 0 -4855px no-repeat}


.material_management_con_page{padding: 0 30px;}
.material_management_con_page_box{text-align: right;padding: 20px 0 0;
    border-top: 1px solid #e7e7eb;}
.material_management_con_page_span{    display: inline-block;
    vertical-align: middle;
    font-size: 12px;    letter-spacing: 4px;}
.material_management_con_page_span_aq{    display: inline-block;
    overflow: visible;
    padding: 0 22px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font-size: 14px;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;position: relative;
    font-size: 0;
    letter-spacing: -5px;
    background-color: #fff;
    background-image: -moz-linear-gradient(top,#fff 0,#fff 100%);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#fff));
    background-image: -webkit-linear-gradient(top,#fff 0,#fff 100%);
    background-image: -o-linear-gradient(top,#fff 0,#fff 100%);
    background-image: linear-gradient(to bottom,#fff 0,#fff 100%);
    border-color: #e6e7ec;
    color: #222;
    height: 30px;
    line-height: 30px;
    width: auto;
    padding-left: 14px;
    padding-right: 14px;min-width: 0;}
.material_management_con_page_span_aq:hover{ background:#E0E0E0;}
.material_management_con_page_span_aqi{    display: inline-block;
    width: 0;
    height: 0;
    border-width: 6px;
    border-style: dashed;
    border-color: transparent;
    border-left-width: 0;
    border-right-color: #919191;
    border-right-style: solid;    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -6px;
    margin-left: -3px;}

.material_management_con_page_s{display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    letter-spacing: normal;}

.material_management_con_page_span_ah{    display: inline-block;
    overflow: visible;
    padding: 0 22px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font-size: 14px;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;    position: relative;
    font-size: 0;
    letter-spacing: -5px;
    background-color: #fff;
    background-image: -moz-linear-gradient(top,#fff 0,#fff 100%);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#fff));
    background-image: -webkit-linear-gradient(top,#fff 0,#fff 100%);
    background-image: -o-linear-gradient(top,#fff 0,#fff 100%);
    background-image: linear-gradient(to bottom,#fff 0,#fff 100%);
    border-color: #e6e7ec;
    color: #222;
    height: 30px;
    line-height: 30px;
    width: auto;
    padding-left: 14px;
    padding-right: 14px;    min-width: 0;}
.material_management_con_page_span_ah:hover{ background:#E0E0E0;}
.material_management_con_page_span_ahi{    display: inline-block;
    width: 0;
    height: 0;
    border-width: 6px;
    border-style: dashed;
    border-color: transparent;
    border-right-width: 0;
    border-left-color: #919191;
    border-left-style: solid;    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -6px;
    margin-left: -3px;}
.material_management_con_page_spanb{    display: inline-block;
    vertical-align: middle;
    font-size: 12px;    margin-left: 8px;}
.material_management_con_page_spanb input[type=text]{    vertical-align: middle;
    width: 75px;
    height: 22px;
    line-height: 22px;
    padding: 4px 0;
    border: 1px solid #e7e7eb;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    text-align: center;
    font-size: 14px;
    margin-right: 4px;color: #222;    font-family: inherit;}
a.material_management_con_page_spanb_a{    display: inline-block;
    overflow: visible;
    padding: 0 22px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font-size: 14px;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;    background-color: #fff;
    background-image: -moz-linear-gradient(top,#fff 0,#fff 100%);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#fff));
    background-image: -webkit-linear-gradient(top,#fff 0,#fff 100%);
    background-image: -o-linear-gradient(top,#fff 0,#fff 100%);
    background-image: linear-gradient(to bottom,#fff 0,#fff 100%);
    border-color: #e6e7ec;
    color: #222;
    height: 30px;
    line-height: 30px;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;    min-width: 0;}

a.material_management_con_page_spanb_a:hover{background:#E0E0E0;}




/*新建图文素材  start*/
.content_box_bg{ background:none; padding-top:36px; padding-bottom:92px;}
.new_graphic{    border: 1px solid #d9dadc;
    background-color: #fff;    min-height: 700px;}
.new_graphic_hd{    background-color: #fff;    line-height: 40px;}
.new_graphic_hd_nav{margin: 0;
    padding: 6px 20px;
    border-bottom: 1px solid #e7e7eb;}

.new_graphic_hd_nav_a{background: url("../../resources/images/wechat/base_z2a7519.png") 0 -2596px no-repeat;
    width: 26px;
    height: 26px;
    vertical-align: middle;
    display: inline-block;
    line-height: 100px;
    overflow: hidden;margin-right: 5px;color: #8d8d8d;}
a.new_graphic_hd_nav_b{color: #8d8d8d;}
.new_graphic_hd_nav_span{margin: 0 .35em;    color: #8d8d8d;}
.new_graphic_con_box{ position:relative;}
.new_graphic_con_left{position: absolute;
    left: 0;
    height: 100%;}
.new_graphic_con_left_box{    width: 250px;
    background-color: #f8f8f8;    height: auto;
    margin-bottom: 0px;
    margin-right: 0px;
    min-height: 306px;}
.new_graphic_con_left_hd{padding: 10px 20px 0;}
.new_graphic_con_left_hd_t{    font-weight: 400;    margin: 0;font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","\9ED1\4F53",Arial,sans-serif;
    color: #222;
    font-size: 14px;}
.new_graphic_con_left_con{padding: 20px;}
.new_graphic_con_left_con_box{    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    border: 1px solid #e7e7eb;
    background-color: #fff;
    color: #666;    overflow: visible;
    margin-bottom: 0;}
.new_graphic_con_left_con_b{padding: 0;    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-bottom-width: 0;    border-bottom-width: 1px;    position: relative;    min-height: 134px;
    margin-top: -1px;}
.new_graphic_con_left_con_b_current{    border: 2px solid #43b548;
    position: relative;
    z-index: 1;
    margin-left: -1px;
    margin-right: -1px;
    margin-bottom: -1px;    cursor: pointer;}
.new_graphic_con_left_con_b_c{    position: relative;    border-top: 1px solid #e7e7eb;    border-top-width: 0;
    padding: 9px 9px;}
.new_graphic_con_left_con_b_c_item{position: relative;margin: 0;}
.new_graphic_con_left_con_b_c_item_h4{    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    padding-top: 10px;
    line-height: 28px;
    max-height: 56px;
    overflow: hidden;
    word-wrap: break-word;    max-height: 28px;    font-size: 14px;    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.6)!important;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000',endcolorstr = '#99000000');    color: #fff;
    padding: 0 8px;}
a.new_graphic_con_left_con_b_c_item_a{padding: 0 8px;
    color: #fff;display: block;}
.new_graphic_con_left_con_b_c_item_div{    height: 160px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;    height: 120px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;}
.new_graphic_con_left_con_b_c_item_d{width: 100%;    display: block;
    color: #c0c0c0;
    text-align: center;
    line-height: 160px;
    font-weight: 400;
    font-style: normal;
    background-color: #ececec;
    font-size: 16px;    line-height: 120px;    display: block; height:100%;}
.new_graphic_con_left_con_b_c_item_di{    font-style: italic;    background: url("../../resources/images/wechat/media_z2ac3d8.png") 0 -100px no-repeat;
    width: 44px;
    height: 34px;
    vertical-align: middle;
    display: inline-block;
    line-height: 300px;
    overflow: hidden;    margin-top: 30px;}
.new_graphic_con_left_con_b_c_edit{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(229,229,229,0.85)!important;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#d9e5e5e5',endcolorstr = '#d9e5e5e5');
    text-align: center;
    top: auto;
    bottom: 0;
    height: 40px;
    line-height: 40px;
    background: rgba(0,0,0,0.5)!important;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#80000000',endcolorstr = '#80000000');
    text-align: right; bottom:-1px;}
.new_graphic_con_left_con_b_c_edit_a{width: 20px;
	height: 20px;
	vertical-align: middle;
	display: inline-block;    background: url("../../resources/images/wechat/base_z2a7519.png") 0 -5870px no-repeat;float: left;
    margin-top: 10px;margin-left: 8px;
    margin-right: 8px;}

.new_graphic_con_left_con_b_c_edit_a:hover{background: url("../../resources/images/wechat/base_z2a7519.png") 0 -3006px no-repeat}


.new_graphic_con_left_con_b_thumb{cursor: pointer;}
.new_graphic_con_left_con_b_thumb_box{    position: relative;
    padding:10px;
    border-top: 1px solid #e7e7eb;}
.new_graphic_con_left_con_b_thumb_img{    float: right;
    width: 78px;
    height: 78px;
    margin-left: 14px;}
.new_graphic_con_left_con_b_thumb_h4{    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    padding-top: 10px;
    line-height: 28px;
    max-height: 56px;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
    line-height: 24px;
    max-height: 48px;
    overflow: hidden;
    margin-top: 14px;
    font-size: 14px;
    padding-top: 0;}
a.new_graphic_con_left_con_b_thumb_a{display: block;
    color: #222;}







.new_graphic_con_left_con_aa{    display: block;
    border: 2px dotted #d9dadc;
    line-height: 60px;
    font-size: 0;
    text-align: center;
    margin-bottom: 20px;    margin: 0;
    border-top-width: 0;
    line-height: 90px; height:90px;}
.new_graphic_con_left_con_aai{    font-style: italic;    width: 35px;
    height: 35px;
    vertical-align: middle;
    display: inline-block;    cursor: pointer;
    line-height: 300px;
    overflow: hidden;    background: url("../../resources/images/wechat/base_z2a7519.png") 0 -2915px no-repeat;margin-top: 25px;}

.new_graphic_con_center{margin: 0 211px 0 251px;
    position: relative;border-right: 1px solid #e7e7eb;border-left: 1px solid #e7e7eb;}
.new_graphic_con_center_box{ min-height: 560px;}
.new_graphic_con_center_inner{ padding:0;}
.new_graphic_con_center_inner_edit{padding-bottom: 0; min-height:300px;}
.new_graphic_con_center_inner_edit_title{    display: inline-block;
    position: relative;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    width: 278px;
    font-size: 14px;
    padding: 0 10px;
    border: 1px solid #e7e7eb;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    background-color: #fff;    position: relative;    margin:20px 0 15px; margin-top:0;
    padding: 0 90px;    width: auto;
    display: block;
    border: 0;
    height: auto;
    line-height: 1.6;}
.new_graphic_con_center_inner_edit_title_input{font-family: inherit; padding:0;    width: 100%;
    background-color: transparent;
    border: 0;
    outline: 0; color:#222;    margin: 4px 0;position: relative;
    z-index: 1;    font-size: 22px;
    height: 46px;
    line-height: 46px;}
.new_graphic_con_center_inner_edit_title_em{position: absolute;    width: 50px;
    color: #8d8d8d;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;    text-align: right;
    padding-right: 10px;    right: 10px;    top: 20px;}

.new_graphic_con_center_inner_edit_author{    display: inline-block;
    position: relative;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    width: 278px;
    font-size: 14px;
    padding: 0 10px;
    border: 1px solid #e7e7eb;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    background-color: #fff;position: relative;    margin: 15px 0 10px;
    padding: 0 90px 10px;    width: auto;
    display: block;
    border: 0;
    height: auto;
    line-height: 1.6;}

.new_graphic_con_center_inner_edit_author_input{    font-family: inherit; color:#222;width: 100%;
    background-color: transparent;
    border: 0;
    outline: 0;    height: 22px;
    margin: 4px 0;    position: relative;
    z-index: 1;}
.new_graphic_con_center_inner_edit_author_em{position: absolute;    width: 50px;
    color: #8d8d8d;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;    text-align: right;
    padding-right: 10px;    right: 10px;    top: 6px;}



.new_graphic_con_center_inner_edit_editor{    padding: 10px 0 0;
    min-height:10px;position: relative; height:auto;padding: 0;}









.new_graphic_con_center_inner_link{padding-top: 30px;
    margin: 0 90px 30px;
    border-top: 1px solid #e7e7eb;}
.new_graphic_con_center_inner_link_box{ padding-bottom:15px;}
.inner_link_box_span{ display:inline-block; width:16px; height:16px;}
.inner_link_box_span_input{ width:100%; height:100%;}
.inner_link_box_span_font{    font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","\9ED1\4F53",Arial,sans-serif;
    color: #222; font-size:14px;display: inline-block;
    vertical-align: middle;}
.inner_link_box_div{ width:100%; height:32px; line-height:32px;}
.inner_link_box_div_span{ width:80%; border:1px solid #e7e7eb; text-align:center; height:30px; display:block; margin-left:20px; margin-top:5px;}
.inner_link_box_div_input{ border:none; width:95%; height:28px; line-height:30px;}

.new_graphic_con_center_inner_img{    background-color: #fcfcfc;}
.new_graphic_con_center_inner_img_title{line-height: 38px;
    margin-top: 30px;
    padding: 25px 90px 15px;
    border-top: 1px solid #e7e7eb;}
.new_graphic_con_center_inner_img_con{    margin-left: 90px;
    margin-right: 90px;    padding-bottom: 1em;}
.new_graphic_con_center_inner_img_con_l{    margin-top: .3em;    display: block;
    width: auto;
    float: none;
    margin-right: 0;
    margin-bottom: 4px;
    font-size: 14px;}
.new_graphic_con_center_inner_img_con_s{    font-weight: 400;
    font-style: normal;
    float: left;}
.new_graphic_con_center_inner_img_con_p{    float: left;
    margin-left: .5em;color: #8d8d8d;}
.new_graphic_con_center_inner_img_con_upload{}
.new_graphic_con_center_inner_img_con_upload_box{    display: inline-block;
    line-height: 1.6;
    vertical-align: middle;    position: relative;
    z-index: 1;}
.center_inner_img_con_upload_box_area{    position: relative;
    display: inline-block;
    vertical-align: middle; width:110px; height:32px; margin-top:5px;}
.center_inner_img_con_upload_box_area_span{ display:inline-block; width:100%; height:100%; border:1px solid #e7e7eb; border-radius:5px; text-align:center; line-height:32px; font-size:14px; color:#222;}
.center_inner_img_con_upload_box_area_input{ width:100%; height:100%; display:inline-block; position:absolute; overflow:hidden; opacity:0;filter:alpha(opacity=0); top:0; left:0; cursor:pointer;}
.center_inner_img_con_upload_box_area_file{ font-size:100px; width:100%; height:100%;}

a.center_inner_img_con_upload_box_a{ margin-top:5px;width:110px; height:32px; border:1px solid #e7e7eb; border-radius:5px; text-align:center; line-height:32px; font-size:14px; color:#222; display:inline-block;    vertical-align: middle; margin-left:0px;}

a.center_inner_img_con_upload_box_a:hover{ background:#e7e7eb;}

.center_inner_img_con_upload_box_p{    display: block;margin-top: 10px;}
.center_inner_img_con_upload_box_p_img{max-width: 100px;
    max-height: 100px;    margin-left: 0;width: 100px; height:100px; display:inline-block;}
a.center_inner_img_con_upload_box_p_a{ color:#459ae9;}

.new_graphic_con_center_inner_img_con_upload_p{padding-top: 4px;
    width: 300px;color: #8d8d8d;}
.new_graphic_con_center_inner_img_con_upload_p_l{ display:inline-block; width:16px; height:16px; vertical-align:middle;}
.new_graphic_con_center_inner_img_con_upload_p_l_i{ width:100%; height:100%; vertical-align:middle;}
.new_graphic_con_center_inner_img_con_upload_p_f{ display:inline-block; vertical-align:middle;    font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","\9ED1\4F53",Arial,sans-serif; font-size:14px;}

.new_graphic_con_center_inner_img_con_tips{    color: #e15f63;    padding-top: 4px;
    width: 300px;overflow: hidden;}
.new_graphic_con_center_inner_img_description{    margin-left: 90px;
    margin-right: 90px;padding-bottom: 1em;}
.new_graphic_con_center_inner_img_text{    display: inline-block;
    width: 288px;
    padding: 4px 0 4px 10px;
    font-size: 14px;
    border: 1px solid #e7e7eb;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    background-color: #fff;    position: relative;
    margin-bottom: 27px;width: 540px;    margin-top: 8px;}

.new_graphic_con_center_inner_img_textarea{overflow: auto;
    vertical-align: top;    font-family: inherit;color: #222;    resize: none;
    overflow-y: auto;    width: 100%;
    background-color: transparent;
    border: 0;
    outline: 0;height: 100px;}
.new_graphic_con_center_inner_img_text_em{    color: #8d8d8d;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;    position: absolute;
    bottom: -27px;
    right: 0;}


.footer_tool_area{    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: #fff;
    border-top: 1px solid #d9dadc;}
.footer_tool_area_tips{    text-align: center;
    width: 100%;
    z-index: 10000;    position: absolute;
    top: -30px;
    left: 0;
    right: 0;}
.footer_tool_area_tips_f{display: inline-block;
    min-width: 280px;
    padding: 5px 30px;
    color: #fff;    background-color: #44b549;width: 100%;
    padding-left: 0;
    padding-right: 0;}

.footer_tool_area_con{padding: 0;width: 1200px;
    margin-left: auto;
    margin-right: auto;}
.footer_tool_area_con_box{    margin-top: 0;    padding: 20px 210px 20px 250px;}
.footer_tool_area_con_one{    float: left;margin-top: 5px;
    cursor: pointer}
.footer_tool_area_con_one_i{    font-weight: 400;
    font-style: normal;
    margin-top: -3px;
    margin-right: 3px;    background: url("../../resources/images/wechat/appmsg_new_z2ac3d8.png") 0 0 no-repeat;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    display: inline-block;
    line-height: 300px;
    overflow: hidden;}
.footer_tool_area_con_two{ float:right; min-width:104px; height:32px; line-height:32px; margin-left:20px;}
a.footer_tool_area_con_two_a{ display:block; width:100%; border:1px solid #e7e7eb; border-radius:5px; text-align:center; line-height:30px; height:30px; color:#222;}
a.footer_tool_area_con_two_a:hover{ background:#e7e7eb;}

a.footer_tool_area_con_two_c{ background:#FF0202; color:#FFF;}
a.footer_tool_area_con_two_c:hover{ background:#FB2F2F; color:#FFF;}




.new_graphic_con_right{position: absolute;
    right: 1px;
    width: 210px;
    height: 100%;}
.new_graphic_con_right_box{ min-height:500px;
    background-color: #fff;}
.new_graphic_con_right_title{padding: 10px 20px 0;}
.new_graphic_con_right_title_h4{font-weight: 400;    line-height: 1.6;
    font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","\9ED1\4F53",Arial,sans-serif;
    color: #222;
    font-size: 14px;}
.new_graphic_con_right_con{padding: 20px;}
.new_graphic_con_right_con_ul{    padding-left: 0;
    list-style-type: none;    border: 1px solid #e7e7eb;
    border-top-width: 0; margin:0;}
.new_graphic_con_right_con_li{    border-top: 1px solid #e7e7eb;
    background-color: #fff;
    text-align: left;
    padding-left: 20px;
    line-height: 50px;
    cursor: pointer;}
.new_graphic_con_right_con_li_img{    font-style: italic;width: 22px;
    height: 22px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 1em;    background: url("../../resources/images/wechat/appmsg_new_z2ac3d8.png") 0 -26px no-repeat;}

.new_graphic_con_right_con_li_video{ font-style: italic;   width: 22px;
    height: 22px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 1em;background: url("../../resources/images/wechat/appmsg_new_z2ac3d8.png") 0 -58px no-repeat;}
.new_graphic_con_right_con_li_music{ font-style: italic;   width: 22px;
    height: 22px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 1em;background: url("../../resources/images/wechat/appmsg_new_z2ac3d8.png") 0 -154px no-repeat;}
.new_graphic_con_right_con_li_vf{ font-style: italic;   width: 22px;
    height: 22px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 1em;background: url("../../resources/images/wechat/appmsg_new_z2ac3d8.png") 0 -90px no-repeat;}
.new_graphic_con_right_con_li_vote{ font-style: italic;   width: 22px;
    height: 22px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 1em;background: url("../../resources/images/wechat/appmsg_new_z2ac3d8.png") 0 -186px no-repeat;}





.new_graphic_con_right_con_li:hover .new_graphic_con_right_con_li_img{    font-style: italic;width: 22px;
    height: 22px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 1em;    background: url("../../resources/images/wechat/appmsg_new_z2ac3d8.png") 0 -250px no-repeat;}

.new_graphic_con_right_con_li:hover .new_graphic_con_right_con_li_video{ font-style: italic;   width: 22px;
    height: 22px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 1em;background: url("../../resources/images/wechat/appmsg_new_z2ac3d8.png") 0 -282px no-repeat;}
.new_graphic_con_right_con_li:hover .new_graphic_con_right_con_li_music{ font-style: italic;   width: 22px;
    height: 22px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 1em;background: url("../../resources/images/wechat/appmsg_new_z2ac3d8.png") 0 -378px no-repeat;}
.new_graphic_con_right_con_li:hover .new_graphic_con_right_con_li_vf{ font-style: italic;   width: 22px;
    height: 22px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 1em;background: url("../../resources/images/wechat/appmsg_new_z2ac3d8.png") 0 -314px no-repeat;}
.new_graphic_con_right_con_li:hover .new_graphic_con_right_con_li_vote{ font-style: italic;   width: 22px;
    height: 22px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 1em;background: url("../../resources/images/wechat/appmsg_new_z2ac3d8.png") 0 -410px no-repeat;}

.new_graphic_con_right_con_li:hover{border: 1px solid #43b548;
	margin: 0 -1px -1px;
	position: relative;
	z-index: 1;
	color: #43b548;
	zoom: 1}






/*新建图文素材  start*/

/*微信支付输入密钥 start*/
.wechat_key{ width:100%; margin:20px auto; min-height:300px;}
.wechat_key_box{ width:100%; text-align:center;}
.wechat_key_title{ width:100%; height:40px; line-height:40px; font-size:16px; font-weight:bold; color:#222; padding:30px 0 20px 0;}

.wechat_key_con{ width:100%; margin-top:20px; text-align:center;}
.wechat_key_con_item{ width:60%; margin:30px auto;}
.wechat_key_con_item_title{ width:30%; display:inline-block; height:40px; line-height:40px; text-align:right; margin-right:2%;font-size:16px; color:#7D7D7D;}
.wechat_key_con_item_con{ width:65%; display:inline-block; border:1px solid #DDD; height:40px; line-height:40px; text-align:center;}
.wechat_key_con_item_con_input{ border:none; height:38px; line-height:38px; width:96%; text-align:left;}
.wechat_key_con_item_con_tips{ color:#FD3737; font-size:14px; height:28px; line-height:28px;    margin-left: 34%;text-align: left;}

.wechat_key_tips{ width:100%; margin:20px auto; margin-top:40px;}
.wechat_key_tips_box{ width:60%; margin:0 auto; text-align:left;}
.wechat_key_tips_title{ display:inline-block; width:8%; height:32px; line-height:32px;    vertical-align: top; font-size:14px; color:#696D6D;}
.wechat_key_tips_con{ display:inline-block; width:90%; line-height:28px; font-size:14px; color:#696D6D;}
.wechat_key_tips_con a{ color:#FD3737;}

.wechat_key_btn{ width:100%; margin:30px auto;}
.wechat_key_btn_box{ width:60%; margin:0 auto; text-align: center;}
a.wechat_key_btn_save{ display:inline-block; width:200px; height:40px; line-height:40px; border:1px solid #FF0202; background:#FF0202; color:#FFF; border-radius:5px; text-align:center; font-size:16px;}
a.wechat_key_btn_save:hover{ background:#FB5151;}
a.wechat_key_btn_clear{ display:inline-block; width:200px; height:40px; line-height:40px; border:1px solid #FF0202; background:#fff; color:#FF0202; border-radius:5px;text-align:center; font-size:16px; margin-left:120px;}

/*微信支付输入密钥 start*/

/*微信设置指南 start*/
.setting_guide{ width:100%; margin:20px auto;}
.setting_guide_box{ width:100%;}
.setting_guide_title{ height:40px; line-height:40px; text-align:center; width:100%; font-size:16px; font-weight:bold; color:#2f3535; padding-top:20px;}
.setting_guide_con{ width:100%; margin:0 auto; margin-bottom:50px;}
.setting_guide_con_title{ font-size:16px; color:#595d5d; margin:30px 0;}
.setting_guide_con_title a{ color:#459ae9;}

.setting_guide_con img{ display:block; max-width:930px; border:1px solid #E7E9EB; margin:15px 0;}



/*微信设置指南 start*/

/*微信授权绑定 start*/
.authorization_binding{ width:100%; margin:0 auto;}
.authorization_binding_box{ border:1px solid #DFDFE0; width:1200px; margin:0 auto; min-height:600px; background:#FFF;}
.authorization_binding_title{ width:100%; text-align:center; font-size:24px;  color:#2f3535; margin:30px 0;}
.authorization_binding_tips{border:1px solid #DFDFE0; width:70%; margin:20px auto; background:#E4F5FF; height:40px; line-height:40px;}
.authorization_binding_tips_i{ background:url(../../resources/images/wechat/authorization_binding_icon.png) no-repeat center center; padding:12px 20px; margin-left:30px;}
.authorization_binding_tips_span{ color:#686868;}
.authorization_binding_tips_span strong{ color:#2f3535;}
.authorization_binding_img{ width:100%; text-align:center; padding-top:10px;}
.authorization_binding_img img{ width:109px; height:109px;}

.authorization_binding_btn{ width:100%; text-align:center; height:40px; line-height:40px; margin:20px 0;}
a.authorization_binding_btn_a{ width:105px; height:32px; line-height:32px; border:1px solid #519652; display:inline-block; background:#41BF42; text-align:center; color:#FFF; border-radius:5px;}
a.authorization_binding_btn_a:hover{ background:#72D673;}
.authorization_binding_for{ text-align:center; height:32px; line-height:32px; color:#595d5d; font-size:16px;}
a.authorization_binding_for_a{ color:#fe0000; font-size:16px;}




/*微信授权绑定 end*/

/*微信接入首页 start*/
.wechat_index{padding: 0 10px 40px;}
.wechat_index_box{border: 1px solid #e7e7eb; margin-top: 40px;}
.wechat_index_h3{    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #e7e7eb;
    padding: 0 20px;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    background-color: #f4f5f9;}
.wechat_index_ul{    padding-left: 0;
    list-style-type: none;}
.wechat_index_li{    border-top: 1px solid #e7e7eb;
    padding: 18px 20px;}
.wechat_index_li_no{   border-top-width: 0;}
.wechat_index_li_size{ padding-bottom: 5px;
    padding-top: 10px;}
.wechat_index_li h4{    float: left;
    width: 100px;
    margin-right: 20px;
    font-weight: 400;
    font-style: normal;
    color: #8d8d8d;    font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","\9ED1\4F53",Arial,sans-serif;
    font-size: 14px;}
.wechat_index_li_title{float: right;
    margin-left: 16px;
    word-wrap: break-word;
    word-break: break-all;
    text-align: right;
    color: #8d8d8d;    font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","\9ED1\4F53",Arial,sans-serif;
    font-size: 14px;}
.wechat_index_li_title a{    color: #459ae9;
    text-decoration: none;    margin-left: 14px;  font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","\9ED1\4F53",Arial,sans-serif;
    font-size: 14px;}
.wechat_index_li_title_p{  font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","\9ED1\4F53",Arial,sans-serif;
    font-size: 14px;}
.wechat_index_li_con{    display: table-cell;
    vertical-align: top;
    float: none;
    width: auto;
    word-wrap: break-word;
    word-break: break-all;    font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","\9ED1\4F53",Arial,sans-serif;
    color: #222;
    font-size: 14px;}
.wechat_index_li_con_img{width: 80px;
    height: 80px;}
.wechat_index_li_con_lx{    color: #8d8d8d;padding-left: 5px;}
.wechat_index_li_con_ii{    font-style: italic;background: url("../../resources/images/wechat/base_z2af218.png") 0 -6457px no-repeat;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    display: inline-block;margin-top: -3px;
    margin-left: 3px;}
.wechat_index_li_con_info{color: #8d8d8d;}


/*微信接入首页 end*/


/*群发管理 start*/
.wecht_mass{width: 100%;margin: 0 auto;}
.wecht_mass_tips{text-align: right;line-height: 43px; margin-top: -43px;padding-right: 30px;}
.wecht_mass_tips a{    font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","\9ED1\4F53",Arial,sans-serif; color: #222;font-size: 14px;}
.wecht_mass_tips_i{    width: 16px;
    height: 16px;
    vertical-align: middle;
    display: inline-block;
    line-height: 100px;
    overflow: hidden;    font-weight: 400;
    font-style: normal;
    margin-top: -3px;    background: url("../../resources/images/wechat/base_z2af218.png") 0 -6325px no-repeat;margin-right: 0;
    margin-left: 3px;}

.wecht_mass_con{ padding-bottom:30px;}
.wecht_mass_con_tips{    position: relative;
    padding: 9px 30px;
    background-color: #f4f5f9;
    margin-bottom: 20px;
    line-height: 1.6;}
.wecht_mass_con_tips_p{color: #8d8d8d;
    overflow: hidden;    font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","\9ED1\4F53",Arial,sans-serif; font-size:14px;}
.wecht_mass_con_send_t{padding: 0 30px;
    margin-bottom: 20px;}
.wecht_mass_con_send_t_item{float: left; padding-right:8px;}
.wecht_mass_con_send_t_item_label{    font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","\9ED1\4F53",Arial,sans-serif;
    color: #222;
    font-size: 14px; line-height:30px;}
.wecht_mass_con_send_t_item_div{ }
.wecht_mass_con_send_t_item_div_t{display:inline-block;}
.wecht_mass_con_send_t_item_div select{ border:1px solid #e6e7ec; height:30px; width:115px; padding-left:5px; min-width:60px;    font-size: 14px;
    border-width: 1px;
    border-style: solid;
    cursor: pointer; color:#222;font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","\9ED1\4F53",Arial,sans-serif;}

.wecht_mass_con_send_con{ margin:0 30px;border: 1px solid #e7e7eb;    line-height: 1.6;
    font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","\9ED1\4F53",Arial,sans-serif;
    color: #222;
    font-size: 14px;}
.wecht_mass_con_send_con_tab{ width:100%; margin:0 auto;}
.wecht_mass_con_send_con_nav{    overflow: hidden;
    border-bottom: 1px solid #e7e7eb;}
.wecht_mass_con_send_con_nav_wrp{ overflow:hidden;}
.wecht_mass_con_send_con_nav_ul{    padding-left: 0;
    list-style-type: none;    text-align: center;
    line-height: 30px;
    border-bottom: 1px solid #e7e7eb;
    box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.5);
    -moz-box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.5);
    -webkit-box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.5);    background-color: #fff;
    line-height: 38px;
    height: 38px;    border-top-width: 0;    white-space: nowrap;
    text-align: left;
    font-size: 0;
    border-bottom-width: 0;    margin-left: 0;}
.wecht_mass_con_send_con_nav_li{font-size: 14px;    float: none;
    display: inline-block;
    vertical-align: top;    background-color: #fff;}
.wecht_mass_con_send_con_nav_li a{    display: block;
    text-decoration: none;
    color: #222;
    outline: 0;
    padding: 0 20px;}
.send_i_one{    font-style: italic;    margin-right: 3px;
    margin-top: -2px;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    display: inline-block; background: url("../../resources/images/wechat/msg_tab_z25df2d.png") 0 -240px no-repeat; }
.send_i_one_select{ background: url("../../resources/images/wechat/msg_tab_z25df2d.png") 0 -270px no-repeat;}
.send_i_one:hover{  background: url("../../resources/images/wechat/msg_tab_z25df2d.png") 0 -270px no-repeat;}

.send_i_two{    font-style: italic;    margin-right: 3px;
    margin-top: -2px;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    display: inline-block; background: url("../../resources/images/wechat/msg_tab_z25df2d.png") 0 0px no-repeat; }
.send_i_two_select{ background: url("../../resources/images/wechat/msg_tab_z25df2d.png") 0 -30px no-repeat;}
.send_i_two:hover{  background: url("../../resources/images/wechat/msg_tab_z25df2d.png") 0 -30px no-repeat;}

.send_i_three{    font-style: italic;    margin-right: 3px;
    margin-top: -2px;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    display: inline-block; background: url("../../resources/images/wechat/msg_tab_z25df2d.png") 0 -60px no-repeat; }
.send_i_three_select{ background: url("../../resources/images/wechat/msg_tab_z25df2d.png") 0 -90px no-repeat;}
.send_i_three:hover{  background: url("../../resources/images/wechat/msg_tab_z25df2d.png") 0 -90px no-repeat;}

.send_i_four{    font-style: italic;    margin-right: 3px;
    margin-top: -2px;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    display: inline-block; background: url("../../resources/images/wechat/msg_tab_z25df2d.png") 0 -180px no-repeat; }
.send_i_four_select{ background: url("../../resources/images/wechat/msg_tab_z25df2d.png") 0 -210px no-repeat;}
.send_i_four:hover{  background: url("../../resources/images/wechat/msg_tab_z25df2d.png") 0 -210px no-repeat;}

.send_i_five{    font-style: italic;    margin-right: 3px;
    margin-top: -2px;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    display: inline-block; background: url("../../resources/images/wechat/msg_tab_z25df2d.png") 0 -120px no-repeat; }
.send_i_five_select{ background: url("../../resources/images/wechat/msg_tab_z25df2d.png") 0 -150px no-repeat;}
.send_i_five:hover{  background: url("../../resources/images/wechat/msg_tab_z25df2d.png") 0 -150px no-repeat;}

.wecht_mass_con_send_con_panel{    background-color: #fff;
    min-height: 216px;    border-bottom-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-right-radius: 3px;}

.send_con_panel_cont{    line-height: 1.6;
    font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","\9ED1\4F53",Arial,sans-serif;
    color: #222;
    font-size: 14px;    padding: 0;}
.send_con_panel_cont_m{    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 14px 20px; overflow:hidden;}
.send_con_panel_cont_m_item{    width: 48%;
    margin-right: 2%;
    float: left;}
.send_con_panel_cont_m_item_s{    display: block;
    border: 2px dotted #d9dadc;
    line-height: 80px;
    text-align: center;
    margin-bottom: 20px;padding: 82px 0;
    margin-bottom: 0;
    line-height: normal;
    position: relative;}
.send_con_panel_cont_m_item_s:hover{border:2px dotted #A7A7A7;}
.send_con_panel_cont_m_item_s a{    vertical-align: middle;
    margin-left: 10px;
    margin-right: 10px;
    color: #8d8d8d;
    font-size: 14px;
    line-height: normal; display:inline-block;}
.send_con_panel_cont_m_item_i{    font-style: italic;    width: 36px;
    height: 36px;
    vertical-align: middle;
    display: inline-block;cursor: pointer;
    line-height: 300px;
    overflow: hidden;    background: url("../../resources/images/wechat/base_z2af218.png") 0 -2960px no-repeat;}
.send_con_panel_cont_m_item_s strong{    display: block;
    padding-top: 3px;
    font-weight: 400;
    font-style: normal;    color: #8d8d8d;
    font-size: 14px;
    line-height: normal;}

.send_con_panel_cont_font{border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px; padding:0;}
.send_con_panel_cont_font_box{    position: relative;
    z-index: 1;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;}
.send_con_panel_cont_font_text{    padding: 14px 20px;
    outline: 0;
    word-wrap: break-word;
    word-break: break-all;
    border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-right-radius: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    background-color: #fff;
    height: 188px;    overflow-y: auto;
    overflow-x: hidden;}
.send_con_panel_cont_font_text textarea{ border:none; width:100%; height:100%;    line-height: 1.6;
    font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","\9ED1\4F53",Arial,sans-serif;
    color: #222;
    font-size: 14px;}

.send_con_panel_cont_font_tips{padding: 0 20px;
    line-height: 36px;
    background-color: #fff;
    border-top: 1px solid #e7e7eb;}
.send_con_panel_cont_font_tips_p{float: right;
    color: #8d8d8d;}
.send_con_panel_cont_font_tips_p em{    font-weight: 400;
    font-style: normal;
    margin-left: 3px;
    margin-right: 3px;}



.wecht_mass_con_btn{padding-bottom: 50px;
    padding-top: 20px;    margin: 5px 30px 0;
    text-align: left;}
.wecht_mass_con_btn_span{ display:inline-block; margin-right:10px;}
a.wecht_mass_con_btn_a{    color: #fff;
    background-color: #FF0202;
    display: inline-block;
    overflow: visible;
    padding: 0 22px;
    height: 32px;
    line-height: 32px;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font-size: 14px;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    min-width: 60px; border-radius:5px;}
a.wecht_mass_con_btn_a:hover{background:#FD4B4B;}

.wecht_mass_con_btn_tips{    display: inline-block;
    vertical-align: middle;
    position: relative;color: #8d8d8d; margin-left:6px;}
.wecht_mass_con_btn_tips_box{    padding: 4.5px 10px;
    border: 1px solid #e7e7eb;
    line-height: 21px;
    background-color: #fff;
    word-wrap: break-word;
    word-break: break-all;}
.wecht_mass_con_btn_tips_p{    font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","\9ED1\4F53",Arial,sans-serif;
    color:#8d8d8d;
    font-size: 14px;}
.wecht_mass_con_btn_tips_p em{    font-weight: 400;
    font-style: normal; color:#FF0202;    padding: 0 5px;}

.wecht_mass_con_btn_tips_i_one{    position: absolute;
    top: 50%;
    margin-top: -6px;
    display: inline-block;
    width: 0;
    height: 0;
    border-width: 6px;
    border-style: dashed;
    border-color: transparent;
    border-left-width: 0;
    border-right-color: #fff;
    border-right-style: solid;border-right-color: #e7e7eb;
    left: -6px;}
.wecht_mass_con_btn_tips_i_two{    position: absolute;
    top: 50%;
    margin-top: -6px;
    display: inline-block;
    width: 0;
    height: 0;
    border-width: 6px;
    border-style: dashed;
    border-color: transparent;
    border-left-width: 0;
    border-right-color: #fff;
    border-right-style: solid;left: -5px;}


.wecht_mass_con_already_sent{    color: #8d8d8d;
    margin-top: 10px;
    margin-bottom: 20px;}
.wecht_mass_con_table{    width: 100%;
    font-size: 14px;
    background-color: #fff;
    text-align: center;
    border-bottom: 1px solid #e7e7eb;
    border-spacing: 0;}
.wecht_mass_con_td_t{    font-weight: 400;
    font-style: normal;    text-align: left;    padding: 20px 30px;border-top: 1px solid #e7e7eb;}
.wecht_mass_con_td_t_l{ width:60%;} 
.wecht_mass_con_td_t_c{   padding-left: 0;
    padding-right: 0;
    width: 125px;vertical-align: top;}
.wecht_mass_con_td_t_r{ text-align:right; vertical-align:top;}
.wecht_mass_con_td_con{    width: 360px;
    padding-right: 30px;
    padding-left: 30px;
    text-align: left;}

.wecht_mass_con_td_con_wrp{word-wrap: break-word;
    word-break: break-all;}
.wecht_mass_con_td_con_wrp_box{    margin-bottom: -20px;}
.wecht_mass_con_td_con_msg{    position: relative;    padding-left: 120px;
    min-height: 100px;    margin-bottom: 20px;}
.wecht_mass_con_td_con_msg_a{    color: #222;
    display: inline-block;}
.wecht_mass_con_td_con_msg_a img{ border:0;}
.wecht_mass_con_td_con_msg_img{position: absolute;
    left: 0;
    background: transparent url() no-repeat 0 0;
    width: 80px;
    height: 80px;
    vertical-align: middle;
    display: inline-block;
    background-color: #d7d8da!important;width: 100px;
    height: 100px;}
.wecht_mass_con_td_con_msg_span{    line-height: 1.6;
    font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","\9ED1\4F53",Arial,sans-serif;color: #222;}
.wecht_mass_con_td_con_msg_desc{color: #8d8d8d;    margin-top: 10px;}
.wecht_mass_con_td_con_msg_desc span{    display: inline-block;
    min-width: 100px;
    margin-right: 20px;}
.mass_time{    margin-bottom: 10px;
    color: #222;}

.wecht_mass_con_td_t_meta{    display: inline-block;
    text-align: left;
    cursor: default;}
.wecht_mass_con_td_t_meta_i{font-style: italic;    display: inline-block;
    width: 0;
    height: 0;
    border-width: 5px;
    border-style: dashed;
    border-color: transparent;
    border-bottom-width: 0;
    border-top-color: #c5c0bf;
    border-top-style: solid;
    vertical-align: middle;
    margin-left: 4px;}
.wecht_mass_con_td_t_meta_p{margin-top: 10px;}
.wecht_mass_con_td_t_meta_a{    color: #459ae9;
    text-decoration: none;}
.no_border{ border-top:none;}





/*群发管理 end*/




