body {
    font-family: "微软雅黑";
    font-size: 12px;
    margin: 0;
    padding: 0;
    background: white;
}

a {
    text-decoration: none;
    color: #444
}

a:hover {
    text-decoration: none;
    color: #c81623;
}

input:focus {
    outline: none;
}

.container {
    width: 1200px;
    padding-left: 0;
    padding-right: 0;
}

p {
    font-size: 12px;
    line-height: 17px
}

h1, h2, h3, h4, h5, h6, p {
    font-family: "微软雅黑";
}

textarea {
    resize: none;
}



/*限时抢购  start*/
.hs_55{
    height:55px;
}

.buy_limit{
    margin-top:20px;
    background:#f6f6f6;
    padding:20px 0;
}
.buy_limit_t{
    background:url(../images/activity_hots_icon.png) no-repeat left center;
}
.buy_limit_tb{
    background:#f93306;
    margin-left:65px;
    padding-left:10px;
}
.bll_h2{
    line-height:55px;
    color:#FFF;
    font-size:28px;
    margin-bottom:0;
}
.bll_p{
    font-size:14px;
    margin-top:25px;
    margin-left:15px;
}
.bll_p_i{
    display:inline-block;
    width:14px;
    height:14px;
    background:url(../images/activity_hots_drop.png) no-repeat center center/auto 100%;
    vertical-align:middle;
    margin-left:5px;
}
.blr_p{
    font-size:14px;
    margin-top:25px;
    margin-right:10px;
}
.blr_ti{
    margin-right:15px;
    font-size:14px;
    color:#661300;
}
.blr_ti_sp{
    background:#661300;
    border-radius:10px;
    display:inline-block;
    width:36px;
    height:40px;
    line-height:40px;
    color:#f93306;
    font-size:20px;
    text-align:center;
    margin:7px 3px 0 3px;
}
.buy_limit_con{
    background:#FFF;
    overflow:hidden;
    padding:20px 0;
}
.blc_item{
    width:16.66%;
    float: left;
    height: 225px;
    padding: 0 14px 0 15px;
    border-right: 1px solid #e7e7e7;
    
}
.blc_item .blc_item_h2{
    text-align:center;
    height:160px;
    
}
.blc_item_h2 a{
    display:block;
    outline:0;
    text-align:center;
}
.blc_item_h2 .blc_item_shadow{
    display:block;
    height:15px;
    background:url(../images/bottom_lines_bg.png) no-repeat center bottom/auto auto;
}
.blc_item_h2 a img{
    max-width:100%;
    max-height:140px;
    vertical-align:middle;
    display:inline-block;
    margin:0 auto;
}
.blc_item_p{
    color:#999999;
    display: block;
    max-width: 100%;
    _width: 100%;
    overflow: hidden;
    font-size: 12px;
    text-align: left;
    height: 32px;
    line-height: 16px;
    word-wrap: break-word;
    word-break: break-all;

}

.blc_item_price{
    padding: 3px 0;
    height: 25px;
}
.blc_item_price_s i{
    font-family: arial;
    font-weight: 400;
    font-size: 12px;
    font-style: normal;
}
.blc_item_price_new{
    font-size: 18px;
    font-weight: 700;
    margin-right: 8px;
    color: #f10214;
}
.blc_item_price_new i{
    font-size: 12px;
    font-weight: 300;
}
.blc_item_price_old{
    color: #999;
    font-size: 12px;
}
.blc_item_price_old i{

}
.buy_limit_con .blc_item:last-child{
    border-right:0;
}



/*限时抢购  end*/

