
/*中秋节页面 start*/

.centent_body{
    min-width: 1200px;
}
.gq_cats{
    width:100%;
}
.gq_house_top{
    width:100%;
}

.gq_con_bg{
    width:100%;
    background:#FFF url(../images/touming_bg.png) no-repeat top center/100% auto;

}
.gq_nav_t{
    position:relative;
    height:auto;
}
.gq_nav_title{
    width:25%;
    text-align:center;
    margin:0 auto;
}
.gq_nav_title img{
    width:100%;
}

.gq_con_b{
    border:1px solid #d8f2ff;
    border-radius:10px;
    background:rgba(255,255,255,0.5);
    width:62%;
    margin:0 auto;
    margin-top:-24px;
    margin-bottom:40px;
    padding: 40px 0;

}
.gq_pro_item{
    padding:20px;
    text-align:center;
}
.gq_pro_item img{
    width:100%;
}





.clo_w{color:#FFF;}
.wh_25{width:23%;}
.wh_50{width:45%;}
.wh_80{width:80%;}
.mar_au{margin:0 auto;}
.wh_980{width:1400px;}
.marg_bot30{margin-bottom:40px;}
.pos_re{position:relative;}
.fl{float:left;}

/*中秋节页面 end*/














/*特色中华内页 start*/














